*.log
*.pot
*.pyc
*.swp
*.swo
*.mo
env/*
punn_it/media/*
src/*
bin/*
lib/*
build/*
include/*
share/*
.Python
punns/management/commands/analytics.dat
punn_it/punns/management/commands/analytics.dat
punn_it/local_settings.py
static/*
analytics.dat 
distribute-0.6.10.tar.gz
.DS_Store
blobon/settings.py
