{% extends "administrateblog.html" %}
{% load i18n %}
{% load url from future %}
    {% block additional-css %}
    <style>
      textarea {
        resize: none;
      }
      .edit_buttons {
        padding: 10px;0px;5px;0px;
      }
    </style>
  {% endblock %}
  {% block dashboard-active %}{% endblock %}
  {% block emails-active %}class="active"{% endblock %}
  {% block content %}
          <div class="panel panel-primary" id="new_email_form" style="display: none">
            <div class="panel-heading">{% trans "Create a new email :" %}</div>
            <div class="panel-body">
              <form enctype="multipart/form-data" id="newemail" role="form" method="post" action="{% url 'blogs.views.create_info_email' blog.slug %}">{% csrf_token %}
                <div class="form-group">
                  {{ form.name.label_tag }} 
                  {{ form.name}}
                </div>
                <div class="form-group">
                 {{ form.subject.label_tag }} 
                 {{ form.subject }}
                </div>
                <div class="form-group">
                 {{ form.content.label_tag }}
                  {{ form.content }}
                </div>
                <div class="form-group">
                 {{ form.status.label_tag }}
                  {{ form.status }}
                </div>
              </form>
              <button id="submitemail" class="btn btn-primary btn-xs" disabled="disabled" title="{% trans "Save your new email" %}"><span class="glyphicon glyphicon-ok-circle"></span> {% trans "Save" %}</button>
              <span id="cancel_new_email" title="{% trans "Cancel new email" %}" class="glyphicon glyphicon-remove-circle pull-right"></span>
            </div> 
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">{% trans "Mailing list" %}<a href="#" class="btn btn-default btn-xs pull-right" id="add_new_list" title="{% trans "Create a new mailing list" %}">{% trans "Create new" %}</a></div>
              <div class="panel-body">
              </div>
            <table class="table table-striped">
              <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-8">
              </colgroup>
              <thead>
                <tr>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Description" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for info_email in info_emails %}
                <tr>
                  <td>{{ info_email.name }}
                  </td>
                  <td>{{ info_email.subject }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>  
          <div class="panel panel-default">
            <div class="panel-heading">{% trans "Emails" %}<a href="#" class="btn btn-default btn-xs pull-right" id="add_new_email" title="{% trans "Create a new email" %}">{% trans "Create new" %}</a></div>
              <div class="panel-body">
              </div>
            <table class="table table-striped">
              <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-8">
              </colgroup>
              <thead>
                <tr>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Subject" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for info_email in info_emails %}
                <tr>
                  <td>{{ info_email.name }}
                  </td>
                  <td>{{ info_email.subject }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
    <script type="text/javascript">
      $(function () {
        $('#add_new_email').tooltip({container: 'body'});
        $('#cancel_new_email').tooltip({container: 'body'});
        $('#submitemail').tooltip({container: 'body'});
      });
    </script>

    <script>
      $('#add_new_email').click(function() {
        $('#add_new_email').hide();
        $('#new_email_form').show();
      });
    </script>

    <script>
      $('#cancel_new_email').click(function() {
        $('#add_new_email').show();
        $('#new_email_form').hide();
        $('#newemail').each(function(){
          this.reset();
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_name').keyup(function() {
        if($(this).val() != '' && $('#id_subject').val() != '' & $('#id_content').val() != '') {
          $('#submitemail').prop("disabled", false);
          }
        else {
          $('#submitemail').prop("disabled", true);
        }
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_subject').keyup(function() {
        if($(this).val() != '' && $('#id_name').val() != '' & $('#id_content').val() != '') {
          $('#submitemail').prop("disabled", false);
          }
        else {
          $('#submitemail').prop("disabled", true);
        }
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_content').keyup(function() {
        if($(this).val() != '' && $('#id_subject').val() != '' & $('#id_name').val() != '') {
          $('#submitemail').prop("disabled", false);
          }
        else {
          $('#submitemail').prop("disabled", true);
        }
        });
      });
    </script>
    <script>
      $('#submitemail').click(function() {
        $('#newemail').submit();
      });
    </script>

  {% endblock %}


