{% extends "administrateblog.html" %}
{% load i18n %}
{% load url from future %}
    {% block additional-css %}
    <style>
      textarea {
        resize: none;
      }
      .edit_buttons {
        padding: 10px;0px;5px;0px;
      }
    </style>
  {% endblock %}
  {% block dashboard-active %}{% endblock %}
  {% block emails-active %}class="active"{% endblock %}
  {% block content %}
          <div class="panel panel-primary" id="new_email_form" style="display: none">
            <div class="panel-heading">{% trans "Create a new email :" %}</div>
            <div class="panel-body">
              <form enctype="multipart/form-data" id="newemail" role="form" method="post" action="{% url 'blogs.views.create_info_email' blog.slug %}">{% csrf_token %}
                <div class="form-group">
                 <div style="padding-bottom:5px;"><b>{% trans "Email purpose" %}</b></div>      
                  {{ form.name}}
                </div>
                <div class="form-group">
                 {{ form.subject.label_tag }} 
                 {{ form.subject }}
                </div>
                <div class="form-group">
                 {{ form.message.label_tag }}
                  {{ form.message }}
                </div>
                <div class="form-group">
                 {{ form.status.label_tag }}
                  {{ form.status }}
                </div>
                <div class="form-group" style="display:none;">
                 {{ form.frequency.label_tag }}
                  {{ form.frequency }}
                </div>
                <div class="form-group">
                 {{ form.subscribers.label_tag }}
                  {{ form.subscribers }}
                </div>
              </form>
              <button id="submitemail" class="btn btn-primary btn-xs" disabled="disabled" title="{% trans "Save your new email" %}"><span class="glyphicon glyphicon-ok-circle"></span> {% trans "Save" %}</button>
              <span id="cancel_new_email" title="{% trans "Cancel new info-letters" %}" class="glyphicon glyphicon-remove-circle pull-right"></span>
            </div> 
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">{% trans "Info-letters" %}<a href="#" class="btn btn-default btn-xs pull-right" id="add_new_email" title="{% trans "Create a new info-letter" %}">{% trans "Create new" %}</a></div>
            {% if info_emails %}
            <table class="table table-striped">
              <colgroup>
                <col class="col-xs-6">
                <col class="col-xs-2">
                <col class="col-xs-2">
              </colgroup>
              <thead>
                <tr>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Subject" %}</th>
                  <th>{% trans "Who" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for info_email in info_emails %}
                <tr>
                  <td>{{ info_email.name }}
                    <div class="edit_buttons">
                      <a href="{% url 'blogs.views.editemail' info_email.id %}" class="btn btn-default btn-xs edit_post" title="{% trans "Modify this info-letter" %}"><span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}</a>
                      <a href="#" class="btn btn-default btn-xs delete_post" title="{% trans "Delete this info-letter" %}" data-toggle="modal" data-target="#{{ info_email.id }}"><span class="glyphicon glyphicon-remove"></span> {% trans "Delete" %}</a>
                      <a href="{% url 'blogs.views.view_info_letter' info_email.id %}" target="_blank" class="btn btn-default btn-xs view_post" title="{% trans "View email content" %}"><span class="glyphicon glyphicon-new-window"></span> {% trans "View email" %}</a>
                      <a href="{% url 'blogs.views.send_email_now' info_email.id %}" class="btn btn-default btn-xs edit_post" title="{% trans "Send this info-letter now" %}"><span class="glyphicon glyphicon-send"></span> {% trans "Send now" %}</a>
                    </div>
                  </td>
                  <td>{{ info_email.subject }}</td>
                  <td>{{ info_email.get_subscribers_display }}</td>
                </tr>
  


  <div class="modal fade" id="{{ info_email.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete info-letter" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you sure you want to delete this info-letter : " %}{{ info_email.name }}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deleteemail' info_email.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>
  


            {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="panel-body">
            {% trans "This blog has no info-letter" %}
            </div>
            {% endif %}
          </div>


          <div class="panel panel-default">
            <div class="panel-heading">{% trans "Blog subscribers" %}</div>
            {% if subscriptions%}
            <table class="table table-striped">
              <colgroup>
                <col class="col-xs-7">
                <col class="col-xs-3">
              </colgroup>
              <thead>
                <tr>
                  <th>{% trans "Email" %}</th>
                  <th>{% trans "New" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for subscription in subscriptions %}
                <tr>
                  <td>{{ subscription.email }}
                  </td>
                  <td>{{ subscription.is_new }}</td>
                </tr>
            {% endfor %}

              </tbody>
            </table>
            {% else %}
            <div class="panel-body">
            {% trans "This blog has no subscriber" %}
            </div>
            {% endif %}
          </div>
    <script type="text/javascript">
      $(function () {
        $('#add_new_email').tooltip({container: 'body'});
        $('#cancel_new_email').tooltip({container: 'body'});
        $('#submitemail').tooltip({container: 'body'});
      });
    </script>

    <script>
      $(document).ready(function() {
        setTimeout(function() { 
         $(".mceNoEditor").removeAttr("style");
        },10);
                   });
         
    </script>

    <script>
      $('#add_new_email').click(function() {
        $('#add_new_email').hide();
        $('#new_email_form').show();
      });
    </script>

    <script>
      $('#cancel_new_email').click(function() {
        $('#add_new_email').show();
        $('#new_email_form').hide();
        $('#newemail').each(function(){
          this.reset();
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_name').keyup(function() {
        if($(this).val() != '' && $('#id_subject').val() != '' & $('#id_content').val() != '') {
          $('#submitemail').prop("disabled", false);
          }
        else {
          $('#submitemail').prop("disabled", true);
        }
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_subject').keyup(function() {
        if($(this).val() != '' && $('#id_name').val() != '' & $('#id_content').val() != '') {
          $('#submitemail').prop("disabled", false);
          }
        else {
          $('#submitemail').prop("disabled", true);
        }
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_content').keyup(function() {
        if($(this).val() != '' && $('#id_subject').val() != '' & $('#id_name').val() != '') {
          $('#submitemail').prop("disabled", false);
          }
        else {
          $('#submitemail').prop("disabled", true);
        }
        });
      });
    </script>
    <script>
      $('#submitemail').click(function() {
        $('#newemail').submit();
      });
    </script>
    <script type="text/javascript">
      $(function () {
        $(".edit_post").tooltip({container: 'body', placement: 'bottom'});
        $(".delete_post").tooltip({container: 'body', placement: 'bottom'});
        $(".view_post").tooltip({container: 'body', placement: 'bottom'});
      });
    </script>
  {% endblock %}


