{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block open-graphs %}
    <!-- Le open graphs tags -->
    <meta property="og:title" content="VoteDonc.Ca" />
    <meta property="og:url" content="http://votedonc.ca" />
    <meta property="og:image" content="http://votedonc.ca/assets/img/pub_votedonc.jpg" />
    <meta property="og:site_name" content="Vote Donc" />
    <meta property="fb:admins" content="772035088" />
    {% endblock %}

    <!-- Le jQuery -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!-- Le fonts -->
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <title>{% block title %}Punn.it{% endblock %}</title>

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/non-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      {% block additional_style %}{% endblock %}
    </style>

    <!-- Le analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10970225-30']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_CA/all.js#xfbml=1&appId=339826172767964";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="navbar navbar-fixed-top" style=" max-height:55px;">
      <div class="navbar-inner" style=" max-height:55px;">
        <div class="container" style=" max-height:55px;">
          <ul class="nav">
            <li class="">
	      <a href="{% url punns.views.index %}"><div class="logoPunn"></div></a>
            </li>
 <!-- 
            <li class="active">
              <a href="#"><div class="photo-icon"></div></a>
            </li>
            <li>
              <a href="#"><div class="video-icon"></div></a>
            </li>
            <li>
              <a href="#"><div class="write-icon"></div></a>
            </li>
            <li>
              <a href="{% url punns.views.register %}"><div class="join-community"></div></a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <a href="#"><div class="lick-icon"></div></a>
            </li>
            <li>
	      <div><input name="search" type="text" maxlength="30" class="nav-search" > </div>
            </li>
            {% if request.user.is_authenticated %}
            <li id="fat-menu" class="dropdown">
              <a style="padding-top:15px" href="#" class="dropdown-toggle" data-toggle="dropdown">
                @{{ user.username }}<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">{% trans 'View my profile' %}</a></li>
                <li class="divider"></li>
                <li><a href="#">{% trans 'Settings' %}</a></li>
                <li><a href="{% url django.contrib.auth.views.logout %}">{% trans 'Sign out' %}</a></li>
              </ul>
	    </li>
            {% else %}
	    <li >
	      <a href="{% url django.contrib.auth.views.login %}"><div class="login-icon">{% trans 'Login' %}</div></a> 
	    </li>
            {% endif %}
 -->
	  </ul>
        </div>
      </div>
    </div>
		
		

    <div class="container">
      <!--<div class="sharetheworld"></div>-->
      <div class="row">
        <div class="span12">
          <div class="row ">
            <div class="span7 blancBG ">
              <div style="padding-bottom:0px; background-color:#f1f1f1;">
                {% block content %}{% endblock %}
              </div>
            </div><!--/span7-->
            <div class="span5">
              {% block sidebar %}{% endblock %}
            </div><!--/span5-->
          </div><!--/row-->
        </div><!--/span12-->
      </div><!--/row-->
    </div><!--/.container-->

    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
  </body>
</html>
