{% extends "dashboard_base.html" %}
{% load thumbnail i18n compress calculate_age %}
{% load url from future %}
  {% block additional-css %}
    <style>
      .invitation {
        max-width:739px;
        margin-left: auto;
        margin-right: auto;
        padding:2px 2px 2px 2px;
      }
      #bloboninviteimg {
       max-width:100%;
       margin-left: auto;
       margin-right: auto;
       position: relative;
      }
      .topimage {
       max-width:700px;
       margin-left: auto;
       margin-right: auto;
      }
    </style>
  {% endblock %}
  {% block nav %}
  {% endblock %}
  {% block leaderboard %}
  {% endblock %}
  {% block container %}

{% if messages %}
            {% for message in messages %}
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
</div>
            {% endfor %}
          {% endif %}

    <div style="padding:20px;text-align: center;">
      <div class="topimage">
        <img src="http://i.imgur.com/QXoXHev.jpg" class="img-responsive" id="bloboninviteimg"/>
      </div>
    </div>
  {% endblock %}
  {% block login_create_account %}
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <div style="padding:20px;text-align: center;max-width:400px;">
          <a type="button" class="btn btn-primary btn-lg btn-block" style="display:none;">{% trans "Create an account :" %}</a>
          <a type="button" href="{% url 'accounts.views.login' %}" class="btn btn-default btn-lg btn-block">{% trans "Login :" %}</a>
        </div>
      </div>
    </div>
  {% endblock %}

