{% load thumbnail i18n compress calculate_age %}
{% load url from future %}
{% load markup %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% trans "Create a free blog." %}{% endblock %}">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
    <title>{% block title %}{{ blog.title }}{% endblock %}</title>
    {% block open-graphs %}
    <!-- Le open graphs tags -->
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:url" content="http://{{ site.domain }}" />
    <meta property="og:image" content="http://{{ site.domain }}{{ STATIC_URL }}img/avatar.png" />
    <!-- Le twitter cards -->
    <meta name="twitter:card" content="photo">
    <meta name="twitter:url" content="http://{{ site.domain }}">
    <meta name="twitter:title" content="{{ site.name }}">
    <meta name="twitter:image" content="http://{{ site.domain }}{{ STATIC_URL }}img/avatar.png">
    <!-- Le canonical url -->
    <link rel="canonical" href="{{ site.name }}" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}/ico/favicon.png">
    {% block additional-js %}
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    {% endblock %}
    {% block blog_css %}
      {% ultrarender blog.block_css %}
    {% endblock %}
</head>

        <!-- Le analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10970225-13']);
      _gaq.push(['_setCustomVar',
            1, 
            'author_id',
            '{{ user.id }}', 
            3
        ]);
      _gaq.push(['_setCustomVar',
            2, 
            'author_username',
            '{{ user.username }}', 
            3
        ]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    {% if request.user.is_authenticated %}
        _gaq.push(['_setCustomVar', 3, 'uid', '{{request.user.pk}}', 1]);
        _gaq.push(['_setCustomVar', 4, 'gender', '{{request.user.get_profile.gender}}', 1]);
        {% if request.user.get_profile.birthdate %}
        _gaq.push(['_setCustomVar', 5, 'age', '{{request.user.get_profile.birthdate|age}}', 1]);
        {% endif %}
    {% endif %}
      
    </script>
    <script type='text/javascript'>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') + 
        '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
      })();
    </script>
    <script type='text/javascript'>
      googletag.cmd.push(function() {
        googletag.defineSlot('/17303639/300x250TopRight', [[300, 250], [300, 600]], 'div-gpt-ad-1360772351679-0').addService(googletag.pubads());
        googletag.defineSlot('/17303639/MobileLeaderboardBelowTheContent', [320, 50], 'div-gpt-ad-1360772351679-1').addService(googletag.pubads());
        googletag.defineSlot('/17303639/Leaderboard', [728, 90], 'div-gpt-ad-1363051510706-0').addService(googletag.pubads());
        googletag.defineSlot('/17303639/SkyScrapper', [160, 600], 'div-gpt-ad-1363052072029-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });
    </script>

    <div id="fb-root"></div>

          <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_CA/all.js#xfbml=1&appId=378058345602851";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

</head>
  <body>



    {% block navbar %}

      {% ultrarender blog.block_navbar %}

    {% endblock %}


    {% block blog_header %}
<div class="topimg" style="text-align:center;">{% block top_image %}{% load blog_tags %}{% ultrarender blog.block_header %}{% endblock %}{% load blog_tags %}{% ultrarender blog.block_title %}</div>
    {% endblock %}



      <div class="container">



      {% block blog_left %}
      {% ultrarender blog.block_left %}
      {% endblock %}
        </div>

      {% block blog_middle %}
      {% endblock %}



      {% block blog_right %}
      {% ultrarender blog.block_right %}
      {% block info_letter %}
    <div class="sidebar-module" style="text-align:left;">
      <form method="post" id="subscribe_form" class="form-horizontal" role="form" action="{% url 'blogs.views.subscribe_to_infoletter' blog.slug %}">
        {% csrf_token %}
      <div class="form-group">
      <h3>{{ blog.block_subscribe_text }} {{ blog.title }}</h3>
      </div>
        <div class="form-group">
          {{ form.email.label_tag }}:
          {{ form.email }}
        </div>
        <div class="form-group">
        <button id="subscribe_submit" type="submit" disabled="disabled"class="btn btn-primary btn-sm pull-left">{{ blog.block_subscribe_button }}</button>
        </div>
     </form>
    </div>

    <div style="clear: both; margin-bottom: 20px;"></div>


    <script>
      $(document).ready(function(){
        $('#id_email').keyup(function() {
        if($(this).val() != '') {
          $('#subscribe_submit').prop("disabled", false);
          }
        else {
          $('#subscribe_submit').prop("disabled", true);
        }
        });
      });
    </script>
      {% endblock %}
    </div>
    {% endblock %}



      </div>
    </div>

      {% block other_posts %}
      {% endblock %}

      {% block blog_footer %}
      {% ultrarender blog.block_footer %}
      {% endblock %}

    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </body>
</html>
