{% extends "base.html" %}

{% block title %}{{ comment.author }} comment on {{ comment.punn.title }}{% endblock %}

{% block content %}

          <div class="well">

{% include "comment-block.html" %}

            {% if latest_reply_list %}
              {% for comment in latest_reply_list %}

{% include "comment-block.html" %}

              {% endfor %}
            {% endif %}

{% include "comment-block.js" %}

          </div><!--/well-->
          <div class="well">

{% include "leaderboard.html" %}

          </div><!--/well-->

{% endblock %}
{% block sidebar %}

          <div class="well">
          </div><!--/.well -->
          <div class="well">

{% include "bigbox.html" %}

          </div><!--/.well -->
          <div class="well">

          </div><!--/.well -->
          <div class="well">

{% include "skyscrapper.html" %}

          </div><!--/.well -->

{% endblock %}

