{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Ajouter du contenu" %}{% endblock %}

{% block content %}
     <div class="well">
       <h3>{% trans "Publier du contenu" %}</h3>
       <form enctype="multipart/form-data" class="form-horizontal" method="post" action="{% url punns.views.create %}">{% csrf_token %}
       {% if form.non_field_errors %}
         <div class="alert alert-block alert-error">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <h4>{% trans 'Erreur' %}</h4>
           {% trans "Quelque chose s'est mal passé. Veuillez réessayer." %}
         </div>
       {% endif %}
         {% include "horizontal-form.html" %}
         <div class="control-group">
           <div class="controls">
             <button type="submit" class="btn">{% trans "Soumettre" %}</button>
           </div>
         </div>
         <input type="hidden" name="next" value="{{ next }}" />
       </form>
     </div>

{% endblock %}

