{% extends "settings_base.html" %}
{% load i18n %}

{% block title %}{% trans "Ajoutez du contenu" %}{% endblock %}

{% block content %}
       <h3>{% trans "Ajoutez du contenu" %}</h3>
       <form enctype="multipart/form-data" class="form-horizontal" method="post" action="{% url blogs.views.create %}">{% csrf_token %}
       {% if form.non_field_errors %}
         <div class="alert alert-block alert-error">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           {% trans "Ooops. Veuillez réessayer." %}
         </div>
       {% endif %}
         {% include "horizontal-form.html" %}
         <div class="control-group">
           <div class="controls">
             <button type="submit" class="btn btn-primary">{% trans "Soumettre" %}</button>
           </div>
         </div>
         <input type="hidden" name="next" value="{{ next }}" />
       </form>

<script src="{{ STATIC_URL }}js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({selector:'textarea', 
                      language : 'fr_FR',
                      menubar : false,
                      toolbar: "bold italic underline | blockquote numlist bullist link unlink media image | code",
                      plugins: "code link media image paste",
                      paste_text_sticky: true,
                      paste_text_sticky_default: true,
                      resize: false,
                     });
    </script>

{% endblock %}

