{% extends "dashboard_base.html" %}
{% load i18n %}
{% load i18n thumbnail punn_tags humanize %}
{% load url from future %}
    {% block additional-css %}
<!--    <style>
   .navbar-default {
    background-image: none;
    background-color:#ff7f00;
    border-color:#311905;
   }
   .panel-default>.panel-heading {
    background-image: none;
    background-color:#ff7f00;
    border-color:#311905;
   }
    </style>-->
    <style>
   .profile_field {
    padding-top:2px;
   }
    </style>
    {% endblock %}
  {% block nav %}
     <div class="navbar navbar-default navbar-static-top" role="navigation">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="{% url 'blogs.views.index' %}">{% trans "Blobon" %}</a>
         </div>
         <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
           </ul>


          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown btn-group">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if request.user.userprofile.avatar %}
                {% thumbnail request.user.userprofile.avatar "27x27" crop="center" as im %}
                <img class="img-rounded" src="{{ im.url }}" alt="{{ request.user.first_name }} {{ request.user.last_name }}" id="avatar-menu" /> 
                {% endthumbnail %}{{ request.user.first_name }} {{ request.user.last_name }}&nbsp;<b class="caret"></b>
              {% else %}
                <span class="glyphicon glyphicon-user"></span> <b class="caret"></b>
              {% endif %}
            </a>
            <ul class="dropdown-menu" style="min-width:190px;">
              <li><a href="/createblog/">{% trans "Create a new blog" %}</a></li>
              <li style="display:none;"><a href="{% url 'punns.views.profile_page' request.user.username %}">{% trans "Your profile" %}</a></li>
              <li style="display:none;"><a href="{% url 'earnings.views.index' %}">{% trans "Vos revenus" %}</a></li>
              <li class="divider" style="display:none;"></li>
              <li style="display:none;"><a href="{% url 'accounts.views.edit_profile' %}">{% trans "Edit profile" %}</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'django.contrib.auth.views.logout' %}">{% trans "Logout" %}</a></li>
            </ul>
            </li>
          </ul>
<!--/.


           <ul class="nav navbar-nav navbar-right">
             <li><a href="{% url 'django.contrib.auth.views.logout' %}">{% trans "Logout" %}</a></li>
           </ul>

 -->




         </div><!--/.nav-collapse -->
       </div>
     </div>
  {% endblock %}
  {% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        {% block sidebar %}
          <ul class="nav nav-pills nav-stacked" style="padding-bottom:20px;">
            <li class="active" style="display:none;"><a href="#">{% trans "All my blogs" %}</a></li>
            </ul>
        {% endblock %}
        </div>
        <div class="col-md-9">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
          </div>
          {% endfor %}
        {% endif %}
        {% block content %}

        {% for blog in blogs %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ blog.title }}</h3>
            </div>
            <div class="panel-body">
              <p><small><em>{% if blog.custom_domain %}{{ blog.custom_domain }}{% else %}{{ blog.slug }}.blobon.com{% endif %}</em></small></p>
              <a href="{% url 'blogs.views.administrateblog' blog.slug %}" class="btn btn-xs btn-primary manage_blog" title="{% trans "The dashboard is the main tool to manage your blog" %}"><span class="glyphicon glyphicon-cog"></span> {% trans "Dashboard" %}</a>
              <a href="http://{{ blog.slug }}.blobon.com" class="btn btn-xs btn-default view_blog" title="View your blog in new tab" target="_blank"><span class="glyphicon glyphicon-globe"></span> {% trans "Visit blog" %}</a>
            </div>
          </div>
        {% endfor %}
          <div class="add_blog" style="padding:15px;">
            <a href="/createblog/" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-plus"></span> {% trans "Create a new blog" %}</a>
          </div>     

    <script type="text/javascript">
      $(function () {
        $('#info_user').tooltip({container: 'body'});
        $(".manage_blog").tooltip({container: 'body'});
        $(".view_blog").tooltip({container: 'body'});
      });
    </script>
 
        {% endblock %}
        </div>
      </div>
    </div> <!-- /container -->
          <div class="blobonfooter" style="padding-top:30px;text-align:center;">
          {% include 'blobon_footer.html' %}
          </div>    
  {% endblock %}
