{% extends "dashboard_base.html" %}
{% load i18n %}
{% load i18n thumbnail punn_tags humanize %}
{% load url from future %}
    {% block additional-css %}
<!--    <style>
   .navbar-default {
    background-image: none;
    background-color:#ff7f00;
    border-color:#311905;
   }
   .panel-default>.panel-heading {
    background-image: none;
    background-color:#ff7f00;
    border-color:#311905;
   }
    </style>-->
    <style>
   .profile_field {
    padding-top:2px;
   }
    </style>
    {% endblock %}
  {% block nav %}
     <div class="navbar navbar-default navbar-static-top" role="navigation">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="{% url 'blogs.views.index' %}">{% trans "Blobon" %}</a>
         </div>
         <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="{% url 'django.contrib.auth.views.logout' %}">{% trans "Logout" %}</a></li>
           </ul>
         </div><!--/.nav-collapse -->
       </div>
     </div>
  {% endblock %}
  {% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        {% block sidebar %}
          <ul class="nav nav-pills nav-stacked" style="padding-bottom:20px;">
            <li class="active"><a href="#">{% trans "All my blogs" %}</a></li>
            </ul>
        {% endblock %}
        </div>
        <div class="col-md-9">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
          </div>
          {% endfor %}
        {% endif %}
        {% block content %}

        <div class="page-header" style="margin-top:-10px;">
          <h1>{{ user.username }}<small>&nbsp;&nbsp;<a href="#" target="_blank" style="display:none;">{% trans "Edit profile" %}</a>&nbsp;&nbsp;<a href="/createblog/" target="_blank">{% trans "Create a new blog" %}</a></small></h1>
        </div>
    {% if user.userprofile.avatar %}
    <div class="media" style="padding-bottom:10px;">
      <a class="pull-left" href="#">
      {% thumbnail user.userprofile.avatar "50x50" crop="center" as im %}
        <img class="media-object img-rounded" src="{{ im.url }}" alt="{{ user.first_name }} {{ user.last_name }}" />
      {% endthumbnail %}
    {% else %}    
       <img class="media-object img-rounded" src="http://i.imgur.com/mcowg4i.jpg" alt="{{ user.username }}">
    {% endif %}
     </a>
          <span class="glyphicon glyphicon-question-sign pull-right" id="info_user" title="{% trans "Those are your user informations, only you and the adminstrators of Blobon.com can see this" %}"></span>
      <div class="media-body">
        <h4 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h4>
        <div class="profile_field" style="padding-bottom:10px;">
          {{ user.userprofile.description }}
        </div>
    {% if user.userprofile.main_blog %}
        <div class="profile_field">
         <b>{% trans "Main blog: " %}</b>{{ user.userprofile.main_blog }}
        </div>
    {% endif %}
        <div class="profile_field">
         <b>{% trans "Email: " %}</b>          {{ user.email }}
        </div>
      </div>
    </div>
    <hr>
        {% for blog in blogs %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ blog.title }}</h3>
            </div>
            <div class="panel-body">
              <p><small><em>{% if blog.custom_domain %}{{ blog.custom_domain }}{% else %}{{ blog.slug }}.blobon.com{% endif %}</em></small></p>
              <a href="{% url 'blogs.views.administrateblog' blog.slug %}" class="btn btn-xs btn-primary" id="manage_blog" title="{% trans "The dashboard is the main tool to manage your blog" %}"><span class="glyphicon glyphicon-cog"></span> {% trans "Dashboard" %}</a>
              <a href="http://{{ blog.slug }}.blobon.com" class="btn btn-xs btn-default" title="View your blog in new tab" id="view_blog" target="_blank"><span class="glyphicon glyphicon-globe"></span> {% trans "Visit blog" %}</a>
            </div>
          </div>
        {% endfor %}
          <div class="add_blog" style="padding:15px;">
            <a href="/createblog/" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-plus"></span> {% trans "Create a new blog" %}</a>
          </div>     

    <script type="text/javascript">
      $(function () {
        $('#info_user').tooltip({container: 'body'});
        $('#manage_blog').tooltip({container: 'body'});
        $('#view_blog').tooltip({container: 'body'});
      });
    </script>
 
        {% endblock %}
        </div>
      </div>
    </div> <!-- /container -->
          <div class="blobonfooter" style="padding-top:30px;text-align:center;">
          {% include 'blobon_footer.html' %}
          </div>    
  {% endblock %}
