{% extends "settings_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Vos revenus" %} / {% trans "Check Donc Ça" %}{% endblock %}

{% block additional_js %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['annotatedtimeline']});
    function drawVisualization() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', '{% trans "Date" %}');
      data.addColumn('number', '{% trans "Revenus" %}');
      data.addRows([
{% for earning in earnings %}
        [new Date({{ earning.date|date:"Y" }}, {{ earning.date|date:"n" }}, {{ earning.date|date:"j" }}), {{ earning.amount|unlocalize }}],
{% endfor %}
      ]);
    
      var annotatedtimeline = new google.visualization.AnnotatedTimeLine(
          document.getElementById('visualization'));
      annotatedtimeline.draw(data, {'displayAnnotations': true, 'displayRangeSelector': false, 'displayZoomButtons': false});
    }
    
    google.setOnLoadCallback(drawVisualization);
  </script>

{% endblock %}

{% block content %}


       <h3>{% trans "Vos revenus" %} <small>@{{ request.user.username }}</small></h3>
<hr>
{% if earnings %}
<ul class="list-inline">
        <li>
<h2>{{ last_30_days.total_earned }} <small>$USD</small></h2>
<p class="lead">{% trans "Derniers 30 jours" %}</p>


</li>
        <li>
<h2>{{ all_time.total_earned }} <small>$USD</small></h2>
<p class="lead">{% trans "Depuis le début" %}</p>

</li>
      </ul>  
<hr>

<div id="visualization" style="width: 590px; height: 400px;"></div>


<hr>

<table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Montant" %}</th>
          </tr>
        </thead>
        <tbody>

          {% for earning in earnings %}
          <tr>
            <td>{{ earning.date }}</td>
            <td>{{ earning.amount }} <small>$USD</small></td>
          </tr>
          
          {% endfor %}

        </tbody>
      </table>

        {% else %}

<p>{% trans "Les revenus sont calculés une fois par jour. Revenez demain." %}

        {% endif %}

{% endblock %}

