{% extends "administrateposts.html" %}
{% load i18n %}
{% load url from future %}
  {% block dashboard-active %}{% endblock %}
  {% block posts-active %}class="active"{% endblock %}
  {% block additional-js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://mindmup.github.io/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="http://mindmup.github.io/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
    <script src="http://mindmup.github.io/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/js/bootstrap.min.js"></script>
  {% endblock %}
  {% block additional-css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap.min.css">
    <style>
      .titlefield{
        padding: 15px;
      }
      .fields{
        padding: 15px;
      }
      .current_image{
      }
      .changed_image{
      }
      img {
	max-width: 100%;
	height: auto;
      }
 
    </style>
  {% endblock %}
{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

    <form enctype="multipart/form-data" action="{% url "blogs.views.editpost" post.id %}" method="post" id=savedpost>{% csrf_token %}
<!--ancien truc      
      <div class="row titlefield">
        {{ form.title.label_tag }} :{{ form.title }}
      </div>

  {% if post.pic %}
          <div class="fields">
          {% trans "Image :" %} {{form.pic }}
          </div>
          <div class="fields">{% trans "Content :" %}{{ form.content_0 }}</div>
  {% endif %}
  {% if post.pic_0 %}
          <div class="fields">
          {% trans "Image 1:" %} {{form.pic_0 }}
          </div>
          <div class="fields">{% trans "Content 1:" %}{{ form.content_0 }}</div>
          <div class="fields">
          {% trans "Image 2:" %} {{form.pic_1 }}
          </div>
          <div class="fields">{% trans "Content 2:" %}{{ form.content_01 }}</div>
  {% endif %}
  {% if post.pic_04 %}
          <div class="fields">
          {% trans "Image 1:" %} {{form.pic_1 }}
          </div>
          <div class="fields">{% trans "Content 1:" %}{{ form.content_0 }}</div>
          <div class="fields">
          {% trans "Image 2:" %} {{form.pic_2 }}
          </div>
          <div class="fields">{% trans "Content 2:" %}{{ form.content_1 }}</div>
          <div class="fields">
          {% trans "Image 3:" %} {{form.pic_3 }}
          </div>
          <div class="fields">{% trans "Content 3:" %}{{ form.content_2 }}</div>
          <div class="fields">
          {% trans "Image 4:" %} {{form.pic_04 }}
          </div>
          <div class="fields">{% trans "Content 4:" %}{{ form.content_3 }}</div>
  {% endif %}
  {% if post.pic_6 %}
          <div class="fields">
          {% trans "Image 1:" %} {{form.pic_1 }}
          </div>
          <div class="fields">{% trans "Content 1:" %}{{ form.content_1 }}</div>
          <div class="fields">
          {% trans "Image 2:" %} {{form.pic_2 }}
          </div>
          <div class="fields">{% trans "Content 2:" %}{{ form.content_2 }}</div>
          <div class="fields">
          {% trans "Image 3:" %} {{form.pic_3 }}
          </div>
          <div class="fields">{% trans "Content 3:" %}{{ form.content_3 }}</div>
          <div class="fields">
          {% trans "Image 4:" %} {{form.pic_4 }}
          </div>
          <div class="fields">{% trans "Content 4:" %}{{ form.content_4 }}</div>
          <div class="fields">
          {% trans "Image 5:" %} {{form.pic_5 }}
          </div>
          <div class="fields">{% trans "Content 5:" %}{{ form.content_5 }}</div>
          <div class="fields">
          {% trans "Image 6:" %} {{form.pic_6 }}
          </div>
          <div class="fields">{% trans "Content 6:" %}{{ form.content_6 }}</div>
  {% endif %}
-->
    <div class="fields">
      <div class="row">
        <div class="current_img col-md-6">
          <p><b>{% trans "Current image 1 :" %}</b></p>
          <img id="current_id_1" src="{{ MEDIA_URL }}{{ post.pic_1 }}" alt="Current image" />
        </div>
        <div class="changed_image col-md-6">
          <p><b>{% trans "New image 1 :" %}</b></p>
          <img id="img_id_1" src="{{ MEDIA_URL }}{{ post.pic_1 }}" alt="New image" />
          <p><b>{% trans "Change image 1 :" %}</b></p>
          {{form.pic_1 }}
        </div>
      </div>
    </div>
    <div class="fields">{{ form.artist.label_tag }} :{{ form.artist }}</div>
    <div class="fields">{{ form.title.label_tag }} :{{ form.title }}</div>
    <div class="fields">{{ form.text.label_tag }} :{{ form.text }}</div>
    <div class="fields">{{ form.source.label_tag }} :{{ form.source }}</div>
      </form>
    <div class="savedpost_submit">
      <button type="submit" class="btn btn-default" id=submitsavedpost title="{% trans "Submit Changes" %}"><span class="glyphicon glyphicon-ok-circle"></span> {% trans "Submit" %}</button>
    </div>
    <script>
      $('#submitsavedpost').click(function() {
        $('#savedpost').submit();
      });
    </script>
<script type="text/javascript">


        function upload_img(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img_id_1').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
{% endblock %}

