{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Changez vos informations" %}{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}

<div class="alert alert-block alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}

       <form class="form-horizontal" method="post" action="{% url accounts.views.edit_profile %}">{% csrf_token %}
       {% if form.non_field_errors %}
         <div class="alert alert-block alert-error">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <h4>{% trans 'Erreur' %}</h4>
           {% trans "Des erreurs se sont glissées. Veuillez réessayer." %}
         </div>
       {% endif %}
         {% include "horizontal-form.html" with form=user_form %}
         {% include "horizontal-form.html" with form=userprofile_form %}
         <div class="control-group">
           <div class="controls">
             <button type="submit" class="btn">{% trans "Soumettre" %}</button>
           </div>
         </div>
         <input type="hidden" name="next" value="{{ next }}" />
       </form>

{% endblock %}

