{% extends "administrateblog.html" %}
{% load i18n %}
{% load url from future %}
  {% block additional-css %}
    <style>
      .edit_buttons {
        padding: 10px;0px;5px;0px;
      }
    </style>
  {% endblock %}
  {% block dashboard-active %}{% endblock %}
  {% block posts-active %}class="active"{% endblock %}
{% block content %}


    <form enctype="multipart/form-data" action="{% url "blogs.views.editpost" post.id %}" method="post" id=savedpost>{% csrf_token %}
      <div class="row">
        <div class="col-md-6 form_section" id="settings_title">
        {{ form.title }}
        <div class="col-md-6 form_section" id="settings_slug">
        <div class="input-group">
        {{ form.pic }}
       </div>
        </div>
      </div>
    <div class="savedpost_submit">
      <button type="submit" class="btn btn-default" id=submitsavedpost title="{% trans "Submit Changes" %}"><span class="glyphicon glyphicon-ok-circle"></span> {% trans "Submit" %}</button>
    </div>
    <script>
      $('#submitsavedpost').click(function() {
        $('#savedpost').submit();
      });
    </script>
{% endblock %}
