{% extends "base.html" %}
{% load thumbnail i18n compress calculate_age %}
{% load url from future %}

{% block content %}
<div class="col-md-12">
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}{{ field.name }}</strong>
            </div>
        {% endfor %}

    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="panel panel-default">
  <div class="panel-body">
    <form enctype="multipart/form-data" action="{% url 'blogs.views.fasteditpost' post.id %}" role="form" method="post" id=fastsavepost>{% csrf_token %}
    <div class="fields" style="display: none;">{{ form.layout_type }}</div>
    <div class="fields" style="display: none">{{ form.status }} </div>
    <div class="fields" style="display: none">{{ form.is_ready }}</div>
    <div class="fields">{{ form.title.label_tag }} :{{ form.title }}</div>
    <div class="fields">{{ form.translated_title.label_tag }} :{{ form.translated_title }}</div>
    <div class="fields">
      <div class="row">
        <div class="current_img col-md-12" style="padding:20px;">
          <img id="current_id" src="{{ MEDIA_URL }}{{ post.pic }}" alt="{{ post.title }}" />
        </div>
      </div>
    </div>
    {% if post.message %}
    <div class="fields">{% trans "Message :" %}{{ post.message }}</div>
    {% endif %}
    <div class="fields">{{ form.content.label_tag }} :{{ form.content }}</div>
    <div class="fields">{{ form.translated_content.label_tag }} :{{ form.translated_content }}</div>
    </form>
    <button id="fastedit_submit" class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-ok-circle"></span> {% trans "Save to draft" %}</button>
  </div>
</div>

    <script>
     $( document ).ready(function() {
       $("#id_translated_title").focus();
     });
    </script>

    <script>
      $('#fastedit_submit').click(function() {
        $("#id_is_ready").attr("checked",true);
        $('#fastsavepost').submit();
      });
    </script>

{% endblock %}
