{% extends "base.html" %}

{% block title %}VoteDonc.Ca{% endblock %}

{% block sidebar %}
              <div class="box-right">{% include "bigbox.html" %}</div>
            	<div class="box-right" style="padding-top:22px; padding-left:24px;">          
                  <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FVoteDoncCa&amp;width=292&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=136698563024760" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:258px;" allowTransparency="true"></iframe>
            	</div> 
              <div class="box-right">{% include "bigbox.html" %}</div>
{% endblock %}
