<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  
  <title>Infinite Scroll &middot; jQuery Masonry</title>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  <link rel="stylesheet" href="http://masonry.desandro.com/css/style.css" />
  
  
  <!-- scripts at bottom of page -->

</head>
<body class="demos ">
  
  
  <section style="padding-left:20px;padding-right:30px;">
    
    
      <h1>Check Donc Ça</h1>
    
    

<div id="container" class="transitions-enabled infinite-scroll clearfix">

              {% for punn in punns %}
  <div class="box col{{ col|random }}">
    <p>
      <a href="{{ punn.get_absolute_url }}" title="{{ punn.title }}"><img src="{{ STATIC_URL }}{{ punn.pic }}" alt="{{ punn.title }}"  /></a>
    </p>
  </div>
{% endfor %}

</div> <!-- #container -->

<div class="pagination">
    <span class="step-links">
        {% if punns.has_previous %}
            <a href="?page={{ punns.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ punns.number }} of {{ punns.paginator.num_pages }}.
        </span>

        {% if punns.has_next %}
            <a href="?page={{ punns.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<nav id="page-nav">
<a href="?page={{ punns.next_page_number }}"></a>
</nav>

<script src="http://masonry.desandro.com/js/jquery-1.7.1.min.js"></script>
<script src="http://masonry.desandro.com/jquery.masonry.min.js"></script>
<script src="http://masonry.desandro.com/js/jquery.infinitescroll.min.js"></script>
<script>
  $(function(){
    
    var $container = $('#container');
    
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector: '.box',
        columnWidth: 100
      });
    });
    
    $container.infinitescroll({
      navSelector  : '#page-nav',    // selector for the paged navigation 
      nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
      itemSelector : '.box',     // selector for all items you'll retrieve
      loading: {
          finishedMsg: 'No more pages to load.',
          img: 'http://i.imgur.com/6RMhx.gif'
        }
      },
      // trigger Masonry as a callback
      function( newElements ) {
        // hide new items while they are loading
        var $newElems = $( newElements ).css({ opacity: 0 });
        // ensure that images load before adding to masonry layout
        $newElems.imagesLoaded(function(){
          // show elems now they're ready
          $newElems.animate({ opacity: 1 });
          $container.masonry( 'appended', $newElems, true ); 
        });
      }
    );
    
  });
</script>
  </section> <!-- #content -->

</body>
</html>

