{% extends "blobon.html" %}
{% load thumbnail i18n compress calculate_age %}
{% load url from future %}
  {% block nav %}
  {% endblock %}
  {% block leaderboard %}
  {% endblock %}
  {% block container %}

{% if messages %}
            {% for message in messages %}
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
</div>
            {% endfor %}
          {% endif %}

    <div style="padding:20px;text-align: center;">
      <div class="topimage">
        <img src="http://i.imgur.com/QXoXHev.jpg" class="img-responsive" id="bloboninviteimg"/>
      </div>
    </div>
  {% endblock %}
  {% block login_create_account %}

    <div class="row">
      <div class="col-md-6 col-md-offset-4">
    {% if form.errors %}
      {% trans "Your username and password didn't match. Please try again." %}
    {% endif %}
      </div>
    </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-5">
      <form method="post" id="login_form" class="form-horizontal" role="form" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }}:
          {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password.label_tag }}:
          {{ form.password }}
        </div>
        <button id="login_submit"type="submit" disabled="disabled"class="btn btn-primary btn-sm">{% trans "Login" %}</button>
        <a id="login_cancel" href="{% url 'blogs.views.index' %}" class="btn btn-danger btn-sm">{% trans "Cancel" %}</a>
     </form>
    </div>
  </div>

    <script>
      $('#login_submit').click(function() {
        $('#login_form').submit();
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_iusername').keyup(function() {
        if($(this).val() != '' && $('#id_password').val() != '') {
          $('#login_submit').prop("disabled", false);
          }
        else {
          $('#login_submit').prop("disabled", true);
        }
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_password').keyup(function() {
        if($(this).val() != '' && $('#id_username').val() != '') {
          $('#login_submit').prop("disabled", false);
          }
        else {
          $('#login_submit').prop("disabled", true);
        }
        });
      });
    </script>

  {% endblock %}


