<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
   
    <link rel="stylesheet/less" href="../assets/less/newstyle.less">
    <script src="../assets/js/less.js" type="text/javascript"></script>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

<body>
  <div class="adTop">
  <div id="#" class="hidden-phone skyscr"><img src="http://s0.2mdn.net/viewad/3393746/May13-Retargeting-Homepage-MothersDaySale-728x90.jpg"></div>
  </div>

  <div class="navbar navbar-inverse">
      <div class="navbar-inner">
      
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">CheckDonc.ca</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>
  
  <div id="main_container" class="container-fluid" >
    

    
     <div id="wrapper">
     
     
     	<!-- #vote-wrapper -->
	
	<div id="vote-wrapper" class="visible-desktop">
	
	  <a href="#">
	    <div id="upbutton" class="vote-up-down up"></div>
	  </a>
	
	    <div class="vote-up-down point"></div>
	
	  <a href="#">
	    <div id="downbutton" class="vote-up-down down"></div>
	  </a>
	
	</div>
	
	<!-- #vote-wrapper -->
     
         
         <div id="main">
         
           <div id="content-single" class="content">
           
	           <div id="content-single-wrapper">
		           <h1 id="title">Test</h1>
	           
	               <div id="image-wrapper">
	               <a href="#">
	               <img id="main-image" src="http://checkdonc.ca/i/KBz.jpg">
	           </a>
	           </div>
	           
	           </div>
	           
	           
	           
           </div><!-- #content -->
         
         </div><!-- #main -->
      
       <div id="sidebar">
	       <div id="top-thumbs">
		       <a class="thumbnails_images" href="#">
                   <img class="sidebarThumbs" src="http://checkdonc.ca/i/cache/55/56/5556062c1de4246780d231b6d0f007dc.jpg" width="85" height="90">     
               </a>
		       <a class="thumbnails_images" href="#">
                   <img class="sidebarThumbs" src="http://checkdonc.ca/i/cache/df/1a/df1a53904f799c7afba177b17c36233a.jpg" width="85" height="90">     
               </a>
		       <a class="thumbnails_images" href="#">
                   <img class="sidebarThumbs" src="http://checkdonc.ca/i/cache/9e/55/9e55fac87e91e3c7084cf85e69b6203e.jpg" width="85" height="90">     
               </a>
		       <a class="thumbnails_images" href="#">
                   <img class="sidebarThumbs" src="http://checkdonc.ca/i/cache/51/f1/51f1be7dc4bebed14bc7df01a3ffd298.jpg" width="85" height="90">     
               </a>
		       <a class="thumbnails_images" href="#">
                   <img class="sidebarThumbs" src="http://checkdonc.ca/i/cache/82/96/8296068d29bab48ed9c9675c10e98d6d.jpg" width="85" height="90">     
               </a>
		       <a class="thumbnails_images" href="#">
                   <img class="sidebarThumbs" src="http://checkdonc.ca/i/cache/55/56/5556062c1de4246780d231b6d0f007dc.jpg" width="85" height="90">     
               </a>                                             
	       </div>
	       <div id="ad"><img src="http://s0.2mdn.net/viewad/3393746/Apr13-Retargeting-Homepage-Boost_Colour-300x250.jpg"></div>
       </div><!-- #sidebar -->
    
    </div> <!-- #wrapper -->
  
  </div><!-- .container-fluid -->

</body>
</html>