<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
   
    <link rel="stylesheet/less" href="../assets/less/newstyle.less">
    <script src="../assets/js/less.js" type="text/javascript"></script>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

<body>
  <div class="adTop">
  <div id="#" class="hidden-phone skyscr"><img src="http://s0.2mdn.net/viewad/3393746/May13-Retargeting-Homepage-MothersDaySale-728x90.jpg"></div>
  </div>

  <div class="navbar navbar-inverse">
      <div class="navbar-inner">
      
      
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">CheckDonc.ca</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>
    <div id="connect-box-fullwidth">
    <div id="connect-box">
	<div id="connect-button"></div>  
    </div>
    </div>
  <div id="connect-box-bottom"></div>
  <div id="main_container" class="container-fluid" >
    

    
     <div id="wrapper">
     <div id="thumbnails">
     
     
     	     
         
         <div id="main">
         
           <div id="content-single" class="content">
           
	           <div id="content-single-wrapper">
		           <div id="image-wrapper">
	                  
	                  
	                  <!-- Thumbnails -->
	                   
	                         <div class="container-fluid">

         <div id="content">
	           <div class="thumbs-box">
	           <div class="thumbs-single">
	  	       <a href="#">
	  	       <img src="http://checkdonc.ca/i/cache/26/da/26da6a3064a6c57a0115250f173d4d91.jpg" alt="{{ punn.title }}"/>
		       </a>
					 <div class="thumbs-detail">
					   <div class="thumbs-category-box"><div class="thumbs-category"></div><a>funny</a></div>
					      <div class="thumbs-separator"></div>
					   <div class="thumbs-category-box"><div class="thumbs-profil"></div><a>@Gabriel_Dancause</a></div>
					      <div class="thumbs-separator"></div> 
					   <div class="thumbs-updown"><div class="thumbs-up"></div>265</div>
					   <div class="thumbs-updown"><div class="thumbs-comment"></div>265</div>
					   <div class="clearfix"></div>    
					 </div>
		       </div>
	  	       </div>
           </div>
         
         <div id="content">
	           <div class="thumbs-box">
	           <div class="thumbs-single">
	  	       <a href="#">
	  	       <img src="http://checkdonc.ca/i/cache/26/da/26da6a3064a6c57a0115250f173d4d91.jpg" alt="{{ punn.title }}"/>
		       </a>
					 <div class="thumbs-detail">
					   <div class="thumbs-category-box"><div class="thumbs-category"></div><a>funny</a></div>
					      <div class="thumbs-separator"></div>
					   <div class="thumbs-category-box"><div class="thumbs-profil"></div><a>@Gabriel_Dancause</a></div>
					      <div class="thumbs-separator"></div> 
					   <div class="thumbs-updown"><div class="thumbs-up"></div>265</div>
					   <div class="thumbs-updown"><div class="thumbs-comment"></div>265</div>
					   <div class="clearfix"></div>    
					 </div>
		       </div>
	  	       </div>
           </div>
           
           <div id="content">
	           <div class="thumbs-box">
	           <div class="thumbs-single">
	  	       <a href="#">
	  	       <img src="http://checkdonc.ca/i/cache/26/da/26da6a3064a6c57a0115250f173d4d91.jpg" alt="{{ punn.title }}"/>
		       </a>
					 <div class="thumbs-detail">
					   <div class="thumbs-category-box"><div class="thumbs-category"></div><a>funny</a></div>
					      <div class="thumbs-separator"></div>
					   <div class="thumbs-category-box"><div class="thumbs-profil"></div><a>@Gabriel_Dancause</a></div>
					      <div class="thumbs-separator"></div> 
					   <div class="thumbs-updown"><div class="thumbs-up"></div>265</div>
					   <div class="thumbs-updown"><div class="thumbs-comment"></div>265</div>
					   <div class="clearfix"></div>    
					 </div>
		       </div>
	  	       </div>
           </div>
         

   
      
      </div> <!-- /container -->
     
      <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
      <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
      <script src="{{ STATIC_URL }}js/jquery.infinitescroll.min.js"></script>
      <script>
        $(function(){
          var $container = $('#content');
          $container.imagesLoaded(function(){
            $container.masonry({
              itemSelector: '.thumbs',
	      columnWidth: 170,
	      gutterWidth: 30,
	      isAnimated: true 
            });
          });
          $container.infinitescroll({
            navSelector  : '#page-nav',    // selector for the paged navigation 
            nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
            itemSelector : '.thumbs',     // selector for all items you'll retrieve
            loading: {
                finishedMsg: "{% trans 'Chargement terminé' %}",
                img: '{{ STATIC_URL }}img/loading.gif'
              }
            },
            function( newElements ) {
              var $newElems = $( newElements ).css({ opacity: 0 });
              $newElems.imagesLoaded(function(){
                $newElems.animate({ opacity: 1 });
                $container.masonry( 'appended', $newElems, true ); 
              });
            }
          );
        });
      </script>
	                   
	                   <!-- Thumbnails -->
	                  
	                  
	                  
	                   
	                   </div>
	                   
	           </div>
	           
	           
	           
           </div>
         
         <div class="clearfix"></div>
         
         </div><!-- #main -->
      
       <div id="sidebar">
	      
	       <div id="ad"><img src="http://s0.2mdn.net/viewad/3393746/Apr13-Retargeting-Homepage-Boost_Colour-300x250.jpg"></div>
	        <div class="thumbs-box">
	       <div id="sidebar-nav">
		       
		       <p class="thumbs-separator">
		       <a>© 2013 Blob on</a>
		       <a>About</a>
		       <a>Help</a>
		       <a>Terms</a>
		       <a>Privacy</a>
		       </p>
		       <p class="thumbs-separator">
		       <a>Blog</a>
		       <a>Status</a>
		       <a>Apps</a>
		       <a>Ressources</a>
		       <a>Jobs</a>
		       </p>
		       <a>Advertisers</a>
		       <a>Businesses</a>
		       <a>Media</a>
		       <a>Developers</a>
		       
	       </div>
	       <div class="clearfix"></div>
	       </div>
	       
	       
       </div><!-- #sidebar -->
    
    </div> <!-- #thumbnails -->
    </div> <!-- #wrapper -->
  
  </div><!-- .container-fluid -->

</body>
</html>