    <script type="text/javascript" language="JavaScript">
        (function() {
          var proto = (window.location.protocol == "https:" ? "https:" : "http:");
          document.writeln('<scr' + 'ipt type="text/ja' + 'vascr' + 'ipt" s' + 'rc="' +
                      proto + '//cdn.oboxmedia.com/oboxads/oboxads-min.js?ver=2' +
                      '"></scr' + 'ipt>');
        })();
    </script>
    <script type="text/javascript" language="JavaScript">
        OBOXADS.vars.lang = 'fr'; 
        OBOXADS.vars.sectionPathName = 'home';
        OBOXADS.vars.postID = 0;
        OBOXADS.vars.custom = "";
        OBOXADS.fn.init();
    </script>
