{% extends "base.html" %}

{% load i18n thumbnail %}

{% block content %}
                <div class="top-main-col" >
                  <div class="top_social" style="float: right">
                    <a href="http://facebook.com/checkdoncca">AIMEZ-NOUS<img src="{{ STATIC_URL }}img/facebook.png"></a><a href="http://twitter.com/checkdoncca">SUIVEZ-NOUS<img src="{{ STATIC_URL }}img/twitter.png"></a>
                  </div>
                </div>
{% for punn in punns %}
                <div class="thumbnailsMAIN">
      	          <a href="{{ punn.get_absolute_url }}">
                    <div class="itemPhoto">
                    {% thumbnail punn.pic "157x192" crop="center" as im %}
                      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ punn.title }}">
                    {% endthumbnail %}
                    </div>
                    <div class="itemDesc">

                      {{ punn.title|truncatechars:60 }}
                    </div>
                  </a>
                </div>
{% endfor %}
              <center><a class="span8" style="padding-top:30px;padding-right:50px;" href="?page={{ punns.next_page_number }}">
                <button class="btn btn-large btn-primary" type="button">+</button>
              </a></center>
                <div style="clear:both"></div>
{% endblock %}
{% block sidebar %}
                <div class="box-right"></div>
	        <div class="box-right"></div>
{% endblock %}
