{% extends "translation.html" %}
{% load i18n %}
{% load url from future %}
  {% block dashboard-active %}{% endblock %}
  {% block translation-active %}class="active"{% endblock %}
  {% block additional-js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://mindmup.github.io/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="http://mindmup.github.io/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
    <script src="http://mindmup.github.io/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/js/bootstrap.min.js"></script>
  {% endblock %}
  {% block additional-css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap.min.css">
    <style>
      .titlefield{
        padding: 15px;
      }
      .fields{
        padding: 15px;
      }
      .current_image{
      }
      .changed_image{
      }
      img {
	max-width: 100%;
	height: auto;
      }
 
    </style>
  {% endblock %}
{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}{{ field.name }}</strong>
            </div>
        {% endfor %}
        
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="panel panel-default">
  <div class="panel-body">
    <form enctype="multipart/form-data" action="{% url 'blogs.views.quicktranslation' blog.slug %}" role="form" method="post" id=translatedpost>{% csrf_token %}
    <div class="fields" style="display: none;">{{ form.layout_type }}</div>
    {% if post.layout_type == "s" %} 
    <div class="fields">{{ form.title.label_tag }} :{{ form.title }}</div>
    <div class="fields">{{ form.translated_title.label_tag }} :{{ form.translated_title }}</div>
    <div class="fields">
      <div class="row">
        <div class="current_img col-md-6 col-md-offset-3">
       {% if post.youtube_id %}
          <iframe width="300" height="180" src="http://www.youtube.com/embed/{{ post.youtube_id }}" frameborder="0" allowfullscreen></iframe>
       {% else %}
          {% if post.pic %}
          <img id="current_id" src="{{ MEDIA_URL }}{{ post.pic }}" alt="Current image" />
          {% endif %}
       {% endif %}
        </div>
      </div>
    </div>
    <div class="fields">{{ form.content.label_tag }} :{{ form.content }}</div>
    <div class="fields">{{ form.translated_content.label_tag }} :{{ form.translated_content }}</div>
  {% else %}
    {% if post.pic_1 %}
    <div class="fields">
      <div class="row">
        <div class="current_img col-md-6">
          <p><b>{% trans "Current image 1 :" %}</b></p>
          <img id="current_id_1" src="{{ MEDIA_URL }}{{ post.pic_1 }}" alt="Current image" />
        </div>
        <div class="changed_image col-md-6">
          {{form.pic_1 }}
        </div>
      </div>
    </div>
    {% endif %}

    {% if post.pic_2 %}
    <div class="fields">
      <div class="row">
        <div class="current_img col-md-6">
          <p><b>{% trans "Current image 2 :" %}</b></p>
          <img id="current_id_2" src="{{ MEDIA_URL }}{{ post.pic_2 }}" alt="Current image" />
        </div>
        <div class="changed_image col-md-6">
          {{form.pic_2 }}
        </div>
      </div>
    </div>
    {% endif %}

    {% if post.pic_3 %}
    <div class="fields">
      <div class="row">
        <div class="current_img col-md-6">
          <p><b>{% trans "Current image 3 :" %}</b></p>
          <img id="current_id_3" src="{{ MEDIA_URL }}{{ post.pic_3 }}" alt="Current image" />
        </div>
        <div class="changed_image col-md-6">
          {{form.pic_3 }}
        </div>
      </div>
    </div>
    {% endif %}

    {% if post.pic_4 %}
    <div class="fields">
      <div class="row">
        <div class="current_img col-md-6">
          <p><b>{% trans "Current image 4 :" %}</b></p>
          <img id="current_id_4" src="{{ MEDIA_URL }}{{ post.pic_4 }}" alt="Current image" />
        </div>
        <div class="changed_image col-md-6">
          {{form.pic_4 }}
        </div>
      </div>
    </div>
    {% endif %}

    {% if post.pic_5 %}
    <div class="fields">
      <div class="row">
        <div class="current_img col-md-6">
          <p><b>{% trans "Current image 5 :" %}</b></p>
          <img id="current_id_5" src="{{ MEDIA_URL }}{{ post.pic_5 }}" alt="Current image" />
        </div>
        <div class="changed_image col-md-6">
          {{form.pic_5 }}
        </div>
      </div>
    </div>
    {% endif %}

    {% if post.pic_6 %}
    <div class="fields">
      <div class="row">
        <div class="current_img col-md-6">
          <p><b>{% trans "Current image 6 :" %}</b></p>
          <img id="current_id_6" src="{{ MEDIA_URL }}{{ post.pic_6 }}" alt="Current image" />
        </div>
        <div class="changed_image col-md-6">
          {{form.pic_6 }}
        </div>
      </div>
    </div>
    {% endif %}

  {% endif %}
    <div class="fields" style="display: none">{{ form.is_ready.label_tag }} :{{ form.is_ready }}</div>
    <div class="fields" style="display: none">{{ form.artist.label_tag }} :{{ form.artist }}</div>
    <div class="fields" style="display: none">{{ form.text.label_tag }} :{{ form.text }}</div>
    <div class="fields" style="display: none">{{ form.source.label_tag }} :{{ form.source }}</div>
    <div class="fields" style="display: none">{{ form.category.label_tag }} :{{ form.category }}</div>  
    <div class="row" style="display: none">{{ form.status }} </div>
    <div class="row savedpost_submit_cancel">
      <div class="col-md-9">
        <button type="submit" class="btn btn-primary btn-xs" value="save_ready_queue" name="save_ready_queue" id="savequeue" title="{% trans "Save changes and add to queue" %}"><span class="glyphicon glyphicon-ok-circle"></span> {% trans "Save queue" %}</button>
        <button  type="submit" class="btn btn-info btn-xs" style="display: none" value="save_not_ready" name="save_not_ready" id="save" title="{% trans "Save changes but leave for further translation" %}"><span class="glyphicon glyphicon-save"></span> {% trans "Save without changing status" %}</button>
       <button type="submit" class="btn btn-warning btn-xs" style="display: none" value="save_ready_publish" name="save_ready_publish" id="savepublish" title="{% trans "Save changes and publish post" %}"><span class="glyphicon glyphicon-send"></span> {% trans "Save publish" %}</button>
      </div>
      <div class="col-md-3">
        <a class="btn btn-default btn-xs pull-right" href="{% url 'blogs.views.translation' blog.slug %}" id="cancel_translate_post" title="{% trans "Cancel translation" %}"><span class="glyphicon glyphicon-remove-circle"></span> {% trans "Cancel" %}</a>
      </div>
    </div>
      </form>
    </div>
  </div>
    <script type="text/javascript">
      $(function () {
        $('#save').tooltip();
        $('#savepublish').tooltip();
        $('#savequeue').tooltip();
        $('#cancel_translate_post').tooltip();
      });
    </script>

    <script>
     $( document ).ready(function() {
       $("#id_translated_title").focus();
     });
    </script>


{% endblock %}

