{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block open-graphs %}
    <!-- Le open graphs tags -->
    <meta property="og:title" content="{{ punn.title }}" />
    <meta property="og:url" content="http://votedonc.ca{{ punn.get_absolute_url }}" />
    <meta property="og:image" content="http://votedonc.ca{{ STATIC_URL }}{{ punn.pic }}" />
    <meta property="og:site_name" content="VoteDonc.Ca" />
    <meta property="fb:admins" content="772035088" />
{% endblock %}

{% block title %}{{ punn.title }}{% endblock %}

{% block content %}
                <div class="top-main-col">
                  <div id="singleTitle">
                    {{ punn.title }} 
                  </div>
                </div>
                <div class="well" style="background-color:#fff;margin-top:0px;text-align:center;">
                  <img style=max-width:685px;" src="{{ STATIC_URL }}{{ punn.pic }}"  />
                </div>
{% if punn.source %}
                <div style="float:left;padding-left:20px;padding-bottom:15px;padding-top:5px;">
                  <a href="{{ punn.source }}" class="btn small" rel="popover" title="Source" data-content="{{ punn.source }}">Source</a>
                </div>
                <script>
                  $(function () {
                    $("a[rel=popover]")
                    .popover({
                      offset: 10
                    })
                    .click(function(e) {
                      e.preventDefault()
                      window.open("{{ punn.source }}");
                    })
                  })
                </script>
{% endif %}
                <div class="social pull-right" style="padding-top:5px;">
                  <div class="addthis_toolbox addthis_default_style" style="margin-right:15px;">
                    <a class="addthis_button_pinterest" pi:pinit:url="http://votedonc.ca{{ punn.get_absolute_url }}" 
                      pi:pinit:media="{{ STATIC_URL }}{{ punn.pic }}" pi:pinit:layout="horizontal"></a>
                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                    <a class="addthis_button_tweet" tw:via="Punn_it"></a>
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                  </div>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-50251a32413e32d6"></script>
                <div style="padding-left:25px;" class="fb-comments" data-href="http://votedonc.ca{{ punn.get_absolute_url }}" data-num-posts="6" data-width="685"></div> 
{% endblock %}
{% block sidebar %}
              <div class="box-right well">
                <div id="fleche_single">
                  <a href="http://votedonc.ca{{ prev_punn.get_absolute_url }}"><div class="flecheprev">Prev</div></a>	
                  <a href="http://votedonc.ca{{ next_punn.get_absolute_url }}"><div class="flechenext">Next</div></a>	
                </div>
                {% if latest_punn_list %}
                <div class="thumbnails" style="margin-left: 4px; margin-top: 9px;">
                  {% for punn in latest_punn_list %}
                  <div class="thumb_single">
                    <a class="thumbnail" href="{{ punn.get_absolute_url }}">
                    {% thumbnail punn.pic "95x115" crop="center" as im %}
                      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    </a>
                  </div>
                  {% endfor %}
                </div>
                {% else %}
                  <p>No more content</p>
                {% endif %}	
              </div><!--/.well -->								   
              <div class="box-right">
{% include "bigbox.html" %}
              </div>
              <div class="box-right">
{% include "bigbox.html" %}
              </div>
{% endblock %}










