{% extends "base.html" %}
{% load i18n thumbnail punn_tags humanize %}
{% block open-graphs %}
    <!-- Le open graphs tags -->
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:url" content="{{ url }}" />
{% if post.pic %}
                  {% thumbnail post.pic "250x250" crop="center" as im %}
    <meta property="og:image" content="{{ im.url }}" />
                  {% endthumbnail %}
                  {% endif %}
    <meta property="og:site_name" content="{{ post.author.first_name }} {{ post.author.last_name }}" />
    <!-- Le twitter cards -->
    <meta name="twitter:card" content="photo">
    <meta name="twitter:url" content="{{ url }}">
    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:image" content="{{ MEDIA_URL }}{{ post.pic }}">
    <!-- Le canonical url -->
    <link rel="canonical" href="{{ url }}" />
{% endblock %}
{% block title %} {{ post.title }} {% endblock %}
    {% block additional_js %}
<script>
                  $(document).ready(function () {
                    $(document).keydown(function(e) {
                      if ($(e.target).is('input, textarea')) {
                      }else{
                        var url = false;
                        if (e.which == 37) {
                          url = "{{ prev_post.get_absolute_url }}";
                        }
                        else if (e.which == 39) {
                          url = "{{ next_post.get_absolute_url }}";
                        }
                        else if (e.which == 70) {
                          url = "{% url votes.views.up post.id %}";
                        }
                        else if (e.which == 65) {
                          url = "{% url votes.views.down post.id %}";
                        }
                        if (url) {
                          window.location = url;
                        }
                      }
                    });
                  });
                </script>

    {% endblock %}
    {% block additional-css %}
#nav-above-top-sidebar {
  margin-bottom: 10px;
}

#infos {
  margin-top: 10px;
  padding: 10px 25px;
}
#btn-left {
  margin-left: 10px;
}
 
.comment-holder{
  padding: 10px;
}
img{
  max-width: 720px;
}
    {% endblock %}
 
{% block content %} 
<div id='div-gpt-ad-1363051510706-0' style='width:728px; height:90px;' class="hidden-xs centered">
                                                <script type='text/javascript'>
                                                  googletag.cmd.push(function() { googletag.display('div-gpt-ad-1363051510706-0'); });
                                                </script>
</div>        
<div class="mobileBigBox" id='div-gpt-ad-1360772351679-1'>
                                        <script type='text/javascript'>
                                          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1360772351679-1'); });
                                        </script>
                                        </div>
<div style="clear: both; margin-bottom: 10px;"></div>
                                        
                                        
<div class="panel" id="content-holder">

{% if post.cat %}
<a href="{% url post.views.cat post.cat.slug %}" style="text-decoration:none;"><div class="tagCat bg{{ post.cat }} ombrageTexte" style="position: relative; ">{{ post.cat }}</div></a>
{% endif %}
    <div class="titreSingle">{{ post.title }}</div>


  {% if post.youtube_id %}
  <iframe width="600" height="360" src="http://www.youtube.com/embed/{{ post.youtube_id }}" frameborder="0" allowfullscreen></iframe>
  {% else %}
  {% if post.pic %}
  <a href="{{ next_post.get_absolute_url }}">
    <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic }}" alt="{{ post.title }}" />
  </a>
  
  
  {% endif %}
  {% if post.pic_0 %}
   <div class="row">
     <div class="col-md-6">  
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_0 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_0 %}
         <div class="img_content">{{ post.content_0 }}</div>
       {% endif %}
     </div>
     <div class="col-md-6"> 
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_1 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_01 %}
         <div class="img_content">{{ post.content_01 }}</div>
       {% endif %}
     </div>
   </div>


  {% endif %}
  {% if post.pic_04 %}
   <div class="row">
     <div class="col-md-12" style="text-align: center;">
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_1 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_0 %}
         <div class="img_content">{{ post.content_0 }}</div>
       {% endif %}
     </div>
   </div>
   <div class="row">
     <div class="col-md-4">
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_2 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_1 %}
         <div class="img_content">{{ post.content_1 }}</div>
       {% endif %}
     </div>
     <div class="col-md-4">
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_3 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_2 %}
         <div class="img_content">{{ post.content_2 }}</div>
       {% endif %}
     </div>
     <div class="col-md-4">
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_04 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_3 %}
         <div class="img_content">{{ post.content_3 }}</div>
       {% endif %}
     </div>
   </div>

  {% endif %}
  {% if post.pic_6 %}
   <div class="row">
     <div class="col-md-4">
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_1 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_1 %}
         <div class="img_content">{{ post.content_1 }}</div>
       {% endif %}
     </div>
     <div class="col-md-4">
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_2 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_2 %}
         <div class="img_content">{{ post.content_2 }}</div>
       {% endif %}
     </div>
     <div class="col-md-4">
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_3 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_3 %}
         <div class="img_content">{{ post.content_3 }}</div>
       {% endif %}
     </div>
   </div>
   <div class="row">
     <div class="col-md-4">
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_4 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_4 %}
         <div class="img_content">{{ post.content_4 }}</div>
       {% endif %}
     </div>
     <div class="col-md-4">
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_5 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_5 %}
         <div class="img_content">{{ post.content_5 }}</div>
       {% endif %}
     </div>
     <div class="col-md-4">
       <a href="{{ next_post.get_absolute_url }}">
         <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_6 }}" alt="{{ post.title }}" />
       </a>
       {% if post.content_6 %}
         <div class="img_content">{{ post.content_6 }}</div>
       {% endif %}
     </div>
   </div>
  {% endif %}
  {% endif %}
  
  <div class="media" id="heading">
  <a class="pull-left" href="#">
{% if post.author.userprofile.avatar %}
                  {% thumbnail post.author.userprofile.avatar "64x64" crop="center" as im %}
                  <img src="{{ im.url }}" alt="{{ post.author.first_name }} {{ post.author.last_name }}" />
                  {% endthumbnail %}
                  {% endif %}    
  </a>

<div class="btn-group pull-right">
  <a href="{{ prev_post.get_absolute_url }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a href="{{ next_post.get_absolute_url }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

  <div class="media-body fontBlobon">
    <h5 class="media-heading fontBlobon" style="margin-right: 10px;">{{ post.author.first_name }} {{ post.author.last_name }} <small>@{{ post.author.username }}</small> 
{% if post.author.userprofile.fan_page_access_token %}
<div class="fb-like" data-href="{{ post.author.userprofile.facebook_link }}" data-width="120" data-layout="button_count" data-show-faces="false" data-send="false"></div>
{% endif %}    
</h5>
<p class="text-muted">{% trans "Publié" %} {{ post.pub_date|naturaltime }}{% if post.source %} via <a href="{{ post.source }}" target="_blank">Source</a>{% endif %}</p>
  </div>
</div>


  {% if content %}
<div class="well">
   <h4> {{ content|safe }}</h4>
</div>
  {% endif %}
<div id="infos" class="panel">
<div class="row">
 
                  <div class="pull-right">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="fr">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <div class="fb-like" data-href="http://checkdonc.ca{{ post.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
          </div>
          
          
</div>

  






  <div class="modal fade" id="delete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Effacer cette page?" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Êtes-vous certain de vouloir faire ça? Vous ne pourrez pas revenir en arrière par la suite." %}</p>
        </div>
        <div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Non non!" %}</button>
                    <a href="" class="btn btn-danger">{% trans "Oui, je veux l'effacer" %}</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




</div>
<div class="well" id="comments" style="min-height: 120px;">

<form method="post" action="">
                      {% csrf_token %}
{{ comment_form.content.errors }}
  <div class="form-group">
{{ comment_form.content }}
  </div>


         <div class="control-group">
           <div class="controls">
{% if request.user.is_authenticated %}
                  <button rel="tooltip" title="{% trans "Soumettre votre commentaire" %}" class="btn btn-default pull-right fontBlobon" id="comment-submit">{% trans "Soumettre" %}</button>
                             {% else %}
<a href="{% url accounts.views.signup %}" title="{% trans "Soumettre votre commentaire" %}" class="btn btn-default pull-right fontBlobon" id="comment-submit">{% trans "Soumettre" %}</a>
                             {% endif %}

           </div>
         </div>
                  </form>




                {% if comment_list %}

          <h3>{% trans "Meilleur commentaire" %}</h3>

{% for comment in comment_list|dictsortreversed:"karma" %}

                {% if forloop.counter == 2 %}
                <h3>{% trans "Tous les commentaires" %}</h3>
                {% endif %}
<div class="panel comment-holder">
<div class="media">

<div class="pull-left btn-group-vertical">
        <a class="btn btn-default {% if comment.vote == "U" %}btn-primary{% endif %}" href="
                             {% if request.user.is_authenticated %}{% url votes.views.commentup comment.id %}
                             {% else %}{% url accounts.views.signup %}
                             {% endif %}
                             ">&#43;</a>
        <a class="btn btn-default" disabled="disabled">{{ comment.karma }}</a>
        <a class="btn btn-default {% if comment.vote == "D" %}btn-primary{% endif %}" href="
                             {% if request.user.is_authenticated %}{% url votes.views.commentdown comment.id %}
                             {% else %}{% url accounts.views.signup %}
                             {% endif %}
                             ">&#45;</a>
      </div>

<a href="
                             {% if request.user.is_authenticated %}{% url votes.views.commentup comment.id %}
                             {% else %}{% url accounts.views.signup %}
                             {% endif %}
                             "><div class="comment-vote comment-vote-up {% if comment.vote == "U" %}comment-vote-up-on{% endif %}"></div></a>


  <a class="pull-left" href="{% url post.views.profile_page comment.author.username %}">
                  {% if comment.author.userprofile.avatar %}
                  {% thumbnail comment.author.userprofile.avatar "64x64" crop="center" as im %}
                  <img src="{{ im.url }}" alt="{{ comment.author.first_name }} {{ comment.author.last_name }}" class="img-rounded"/>
                  {% endthumbnail %}
                  {% endif %}
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ comment.author.first_name }} {{ comment.author.last_name }}</h4>
    {{ comment.content|safe }}
  </div>


</div>
</div>

{% endfor %}
{% endif %}

</div>
</div>

{% endblock %}

{% block topsidebar %}
<div id="nav-above-top-sidebar">
  <a href="{{ prev_post.get_absolute_url }}" class="btn btn-default">&larr; {% trans "Préc" %}</a>
  <a href="{{ next_post.get_absolute_url }}" class="btn btn-primary">{% trans "Proch" %} &rarr;</a>
</div>
<div class="panel">

<div class="row">



                {% if latest_post_list %}
                  {% for post in latest_post_list %}
  <div class="col-xs-4">
          <a href="{{ post.get_absolute_url }}" class="thumbnail">
                    {% thumbnail post.pic "200x200" crop="center" as im %}
                      <img id="thumbs" src="{{ im.url }}" alt="{{ post.title }}" />
                    {% endthumbnail %}
          </a>
</div>
                  {% endfor %}
                {% endif %}



</div>
</div>


{% endblock  %}
