{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      #id_tags{
        height:200px;
      }
    </style>
  </head>
  <body>
    <div class="well">
      <div class="row">
        <div class="span2">
          <img src="{{ image }}" class="thumbnail">
        </div>
        <form action="/submit/" method="post" class=>{% csrf_token %}
          <div class="span4">
            {{ form.author.errors }}
            {{ form.author.label_tag }}
            {{ form.author }}

            {{ form.title.errors }}
            {{ form.title.label_tag }}
            {{ form.title }}

            {{ form.status.errors }}
            {{ form.status.label_tag }}
            {{ form.status }}
          </div>
          <div class="span4">
            {{ form.tags.errors }}
            {{ form.tags.label_tag }}
            {{ form.tags }}

            {{ form.source }}
            <input type="hidden" name="media" value="{{ image }}" id="media" />
            <input type="hidden" name="is_video" value="{{ is_video }}" id="is_video" />
            <br />
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
        <script>
          $('#id_title').focus();
        </script>
      </div>
    </div>
  </body>
</html>
