{% extends "settings_base.html" %}
{% load i18n %}

{% block content %}
    <div class="well">

<form role="form" method="post" action="/submit/">{% csrf_token %}
{{ form.title.errors }}
  <div class="form-group">
{{ form.title.label }}
{{ form.title }}
  </div>

<img src="{{ image }}" style="max-width:400px;">


            {{ form.source }}
            <input type="hidden" name="media" value="{{ image }}" id="media" />
            <input type="hidden" name="is_video" value="{{ is_video }}" id="is_video" />
            <br />

 <div class="control-group">
           <div class="controls">
             <button type="submit" class="btn btn-default">{% trans "Soumettre" %}</button>
           </div>
         </div>
         <input type="hidden" name="next" value="{{ next }}" />
       </form>

        <script>
          $('#id_title').focus();
        </script>
      </div>
    </div>
{% endblock %}
  </body>
</html>
