{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Samuel" >

    <!-- Le styles -->
    <link href="http://asseenontheinter.net/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet/less" href="http://punn.it/less.js">
    <script src="http://punn.it/less.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <title>{% block title %}{% trans 'Create a blob' %}{% endblock %}</title>
  </head>
  <body>

    <div class="well">
<div class="row">
  <div class="span2">
    <img src="{{ image }}" class="thumbnail">
  </div>
  <div class="span4">
<!--
      <form action="/submit/" method="post" class="form-horizontal">{% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
          <div class="control-group">
            {{ form.title.errors }}
            <label class="control-label" for="title">Title</label>
            <div class="controls">
              {{ form.title }}
            </div>
          </div>
          <div class="control-group">
            {{ form.source.errors }}
            <label class="control-label" for="source">Source</label>
            <div class="controls">
              {{ form.source }}
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>
-->
<form action="/submit/" method="post" class=>{% csrf_token %}
            {{ form.author.errors }}
            {{ form.author.label_tag }}
            {{ form.author }}

            {{ form.title.errors }}
            {{ form.title.label_tag }}
            {{ form.title }}

            {{ form.status.errors }}
            {{ form.status.label_tag }}
            {{ form.status }}

            {{ form.source }}
            <input type="hidden" name="media" value="{{ image }}" id="media" />
<br />
  <button type="submit" class="btn">Submit</button>
</form>


    </div>
  </div>
</div>
  </body>

