{% include "punn/header.html" %}

{% include "punn/header.html" %}

    <title>{{ site.name }} / Home</title>

{% include "punn/style.css" %}

  </head>
  <body>

{% include "punn/topmenu.html" %}

    <div class="container">
      <div class="row">
        <div class="span9">
          <div class="well">

{% include "punn/thumbnails.html" %}

          </div><!--/well-->
          <div class="well">

{% include "punn/leaderboard.html" %}

          </div><!--/well-->
        </div><!--/span-->
        <div class="span3">
          <div class="well">
            <p>Trending tags</p>
          </div><!--/.well -->
          <div class="well">

{% include "punn/bigbox.html" %}

          </div><!--/.well -->
          <div class="well">
            <p>Plus populaires</p> 
          </div><!--/.well -->
          <div class="well">

{% include "punn/skyscrapper.html" %}

          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

{% include "punn/footer.html" %}



