{% include "punn/header.html" %}


{% include "punn/header.html" %}


    <title>TODO</title>

{% include "punn/style.css" %}

  </head>

  <body>

{% include "punn/topmenu.html" %}

    <div class="container">
      <div class="row">
        <div class="span9">
          <div class="well">
          </div><!--/well-->
          <div class="well">

{% include "punn/leaderboard.html" %}

          </div><!--/well-->
        </div><!--/span-->
        <div class="span3">
          <div class="well">
            <p>TODO User Profile</p>
          </div><!--/.well -->
          <div class="well">

{% include "punn/bigbox.html" %}

          </div><!--/.well -->
          <div class="well">
            <p>TODO Plus populaires</p> 
          </div><!--/.well -->
          <div class="well">

{% include "punn/skyscrapper.html" %}

          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

{% include "punn/footer.html" %}



