{% include "punn/header.html" %}


{% include "punn/header.html" %}

    <title>{{ user.name }} ({{ user.username }}) on {{ site.name }}</title>

{% include "punn/style.css" %}

  </head>
  <body>

{% include "punn/topmenu.html" %}

    <div class="container">
      <div class="row">
        <div class="span9">
          <div class="well">
          </div><!--/well-->
          <div class="well">

{% include "punn/leaderboard.html" %}

          </div><!--/well-->
        </div><!--/span-->
        <div class="span3">
          <div class="well">
          {% if user.avatar %}
            <p><a href="#"><img  width="80" src="{{ user.avatar }}" /></a></p>
          {% endif %}
            <p>{{ user.name }} <small>@{{ user.username }}</small></p>
            <p>{{ user.description }}<p>
          </div><!--/.well -->
          <div class="well">

{% include "punn/bigbox.html" %}

          </div><!--/.well -->
          <div class="well">
            <p>Most popular for @user</p> 
          </div><!--/.well -->
          <div class="well">

{% include "punn/skyscrapper.html" %}

          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

{% include "punn/footer.html" %}



