
{% include "punn/header.html" %}

    <title>{{ punn.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed' rel='stylesheet' type='text/css'>

{% include "punn/style.css" %}

  </head>
  <body>

{% include "punn/topmenu.html" %}


    <div class="container">
      <div class="row">
        <div class="span9">
          <div class="well">
            <h2 class="caption">{{ punn.title }}</h2>
            <div class="well" style="background-color:#181817;margin-top:15px;text-align:center;"><img style=max-width:860px;" src="{{ punn.image }}"  /></div>
                    <div class="well comment-block" style="background-color:#181817;margin-top:15px;">
                    <button class="btn btn-primary">Rocks</button>
                    <button class="btn btn-primary">Sucks</button>
                    <form class="form-inline">
                      <textarea class="input-xlarge" id="textarea" rows="1" style="margin-left: 0px; margin-right: 0px; width: 425px; "></textarea>
                      <button type="submit" class="btn btn-inverse">Comment</button>
                    </form>
                    <a data-toggle="modal" href="#share-block" class="btn btn-inverse">Share</a>

          <div id="share-block" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>Share</h3>
            </div>
            <div class="modal-body">
              <h4>Facebook</h4>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >Close</a>
            </div>
          </div>

          </div>
                   </div>
            {% if top_comments %}
              {% for comment in top_comments %}
                    <div class="well comment-block" style="background-color:#181817;margin-top:15px;">
                      <div class="pull-left">
                        <i class="icon-user"></i><a href="#"> {{ comment.author }}</a> from <a href="{{ comment.source }}">Source</a>
                      </div>
                      <div id="action-block" class="pull-right" style="display:none">
                        <i class="icon-share-alt"></i><a href="#"> Reply</a>
                        <i class="icon-remove"></i><a href="#"> Report</a>
                      </div><br /> 

                      <p>{{ comment.content }}</p>



                    </div>
              {% endfor %}
            {% endif %}

<script>
  var i = 0;
  $(".comment-block").mouseover(function() {
    $(this).find("#action-block").show();
  }).mouseout(function(){
    $(this).find("#action-block").hide();
  });

  var n = 0;
  $("div.enterleave").mouseenter(function() {
    n += 1;
    $(this).find("span").text( "mouse enter x " + n );
  }).mouseleave(function() {
    $(this).find("span").text("mouse leave");
  });

</script>
          </div><!--/well-->
          <div class="well">

{% include "punn/leaderboard.html" %}

          </div><!--/well-->
        </div><!--/span-->
        <div class="span3">
          <div class="well">
            {% if latest_punn_list %}
              <ul class="thumbnails">
              {% for punn in latest_punn_list %}
                <li class="span1"><a class="thumbnail" href="/punn/{{ punn.id }}/"><img width="130" src="{{ punn.thumbnail }}" alt="{{ punn.title }}" /></a></li>
              {% endfor %}
              </ul>
            {% else %}
              <p>No punns are available.</p>
            {% endif %}
          </div><!--/.well -->
          <div class="well">


{% include "punn/bigbox.html" %}



          </div><!--/.well -->
          <div class="well">
          {% if punn.author.avatar %}
            <p><a href="#"><img  width="80" src="{{ punn.author.avatar }}" /></a></p>
          {% endif %}
          {% if punn.source %}
            <p><a href="{{ punn.source }} ">Source</a></p>
          {% endif %}
          {% if punn.original_punn %}
             <p>Originally punned by {{ punn.original_punn.author.name }}
          {% endif %}
            <p>Submitted : {{ punn.pub_date }} via <a href="{{ punn.app.website }}">{{ punn.app.name }}</a></p>
            <p>{{ punn.karma }} points</p>

            {% if latest_repunn_list %}
            <p>Latest repunns : 
              {% for punn in latest_repunn_list %}
              <img src="{{ punn.author.avatar }}" width="40"/>
              {% endfor %}
            </p>
            {% endif %}

            {% if tag_cloud %}
              {% for tag in tag_cloud %}
              <button class="btn btn-primary"><i class="icon-tag"></i> {{ tag.name }}</button>
              {% endfor %}
            {% endif %}


          </div><!--/.well -->
          <div class="well">

{% include "punn/skyscrapper.html" %}


          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

{% include "punn/footer.html" %}



