////// GAB'S  ////////

@nav-height: 60px;
@back-color: lightgray;
@back-img:     '../img/back.jpeg';
@sprite:       '../img/sprite.png';
@texture:      '../img/texture.gif';
@border-image: '../img/border-image.png';

.texture {
  background: url(@texture);
}

/* --------------  CSS Base  ---------------- */

body {
  background-color: #d3d3d3;
  padding: 0px; 
}

.container-fluid {
  max-width: 1180px;
  margin: auto;	
}

  #main_container {
  padding:0 40px 0 40px; 
  }

.navbar-inverse .navbar-inner {

  background-image: url('../img/navbar_background.jpg')!important;
  background-repeat:repeat-x;
  height: 44px;
	
}

#sidebar { 
  margin-left:-100%;
  width:300px;
  min-height: 200px;
  float:right;
  position:relative;
  z-index:4;
}

#wrapper {

  float: right;
  margin-left: 56px;
  
}

#main-wrap {
  padding-bottom:50px;
  margin-bottom:80px;
  padding-right: 20px;
  padding-left: 20px;
}

#main {
  float:left;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  min-height:650px;
  width:100%;
  position:relative; z-index:3;
}

.content {
  .texture;
  margin-right:330px;
}

#title{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 23px;
  color: #3f3f3f;
}

#image-wrapper{
  background-color: #dedede;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  iframe {
    width: 100%;
    height: 480px;
  }
}

.skyscr {
  margin: 0 auto 0 auto;
  width: 728px;
  height: 90px;
}

.adTop {
	padding: 10px 0 10px 0;
	width: 100%;
	height: 90px;
	background-color: #525252;
/* 	border-bottom: 1px solid #000000; */
}

.navbar-inner {
  border-radius: 0px;
  webkit-border-radius: 4px;
}

/* --------------  CSS Base  ---------------- */




/* --------------  CSS Single  ---------------- */

#content-single-wrapper{
  padding: 15px 0 13px 0;
  margin: 0 30px;
}

#content-single{

}

#main-image {
  max-width: 100%;
}

#vote-wrapper {
  float: left;
  margin-top:-1px;
  margin-right: -100%;
  margin-left: -56px;
  width: 55px;
  float: left;
  position: relative;
  z-index: 4;
}

/////VOTE UP - VOTE DOWN///////

.vote-up-down{
  width: 56px;
  height: 60px;
  background:url(@sprite);
}
.point {
  width: 56px;
  height: 52px;
  background-position: -309px -620px;
  font-family:"Helvetica", sans-serif;
  font-size:20px;
  color:white;
}

@vote-x : -367px;
@vote-on-x : -308px;

.up {
  background-position: @vote-x -355px;
}
.up:hover {
  background-position: @vote-x -290px;
}
.up:active {
  background-position: @vote-x -225px;
}
.up-on {
  background-position: @vote-on-x -355px;
}
.up-on:hover {
  background-position: @vote-on-x -290px;
}
.up-on:active {
  background-position: @vote-on-x -225px;
}
.down {
  background-position: @vote-x -425px;
}
.down:hover {
  background-position: @vote-x -490px;
}
.down:active {
  background-position: @vote-x -555px;
}
.down-on {
  background-position: @vote-on-x -425px;
}
.down-on:hover {
  background-position: @vote-on-x -490px;
}
.down-on:active {
  background-position: @vote-on-x -555px;
}
  

/* --------------  CSS Single  ---------------- */






/* --------------  CSS top-thumbs  ---------------- */

#top-thumbs {
  .texture;
  max-width: 300px;  
  padding-top:20px;
  padding-left: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;  
}

.thumbnails_images img{
  margin: 0 0 4px 0;
}

.thumbnails_images:hover {
  text-decoration: none;
}

.sidebarThumbs {

}

.brand {
  margin-left: -20px!important;
}


/* --------------  CSS top-thumbs  ---------------- */


/* --------------  CSS Sidebar  ---------------- */

/////////////MEDIA QUERIES////////////////


@media (max-width: 979px){
  #wrapper {
  padding:10px!important;
  margin: -8px 0 0 0;
  }
    #main_container {
  padding:0 20px 0 20px; 
  }
}

@media (max-width: 767px){
  .navbar {
  margin: 0 -20px 22px -20px;
  }
  #wrapper {
  padding: 0px!important;
  margin: -8px -8px 0 -8px;
  }
  #main_container {
  padding:0 0 0 0; 
  }
  .content {
  margin-right:0px;
  }
  .adTop{
  display: none;
  }
  #sidebar{
  display: none;
  }	
}

@media (max-width: 479px){
  #wrapper {
  padding: 0px!important;
  margin: -8px -8px 0 -8px;
  }
  #main_container {
  padding:0 0 0 0; 
  }
  .content {
  margin-right:0px;
  }
  .adTop{
  display: none;
  }
  #sidebar{
  display: none;
  }	
}

@media (max-width: 319px){
  #wrapper {
  padding: 0px!important;
  margin: -8px -8px 0 -8px;
  }
  .content {
  margin-right:0px;
  }
  .adTop{
  display: none;
  }
  #sidebar{
  display: none;
  }	
}
