////// GAB'S  ////////

@nav-height: 60px;
@back-color: lightgray;
@back-img:     '../img/back.jpeg';
@sprite:       '../img/sprite.png';
@texture:      '../img/texture.gif';
@border-image: '../img/border-image.png';

.texture {
  background: url(@texture);
}

/* --------------  Debut Base  ---------------- */

html * {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}



body {
  background-color: #d3d3d3;
  padding: 0px;
  .texture;
}



.container {
  width: 1024px!important;
  margin: auto;
}

#container {margin-right:330px;
	min-height: 200px;
}


.container-fluid {
  max-width: 1180px;
  margin: auto;	
}

#main_container {
  padding:0 40px 0 40px; 
}

.navbar-inverse .navbar-inner {

  background-image: url('../img/navbar_background.jpg')!important;
  background-repeat:repeat-x;
  height: 44px;
  box-shadow:  0px 5px 6px rgba(0, 0, 0, 0.6);
  z-index: 20;
  position: relative;
	
}


#sidebar { 
  margin-left:-100%;
  width:300px;
  min-height: 200px;
  float:right;
  position:relative;
  z-index:4;
}


 #wrapper #single  {
	
  
  float: right;
  margin-left: 53px;
  
}




#main-wrap {
  padding-bottom:50px;
  margin-bottom:80px;
  padding-right: 20px;
  padding-left: 20px;
}

#main {
  float:left;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  min-height:650px;
  width:100%;
  position:relative; z-index:3;
}


.content {
  margin-right:300px;
}

#title{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 23px;
  color: #3f3f3f;
}

#image-wrapper{
  background-color: #dedede;
  padding: 0 12px 18px 12px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  iframe {
    width: 100%;
    height: 480px;
  }
}




.skyscr {
  margin: 0 auto 0 auto;
  width: 728px;
  height: 90px;
}

#share {
	margin: 10px 0 10px 0;
	display: block;
}

#comment-block {
  padding: 0 10px 0 11px;
  margin: 0 0 0 0;
  
}

#comment_area {

  margin: 0 0 0 84px;
	
}

#comment-submit {
  margin-bottom: 0;
}
.separator-with-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator {
    border-bottom: 1px solid #c8c8c8;
    box-shadow: 0 1px 0 #e7e7e7;
}

.adTop {
	padding: 10px 0 10px 0;
	width: 100%;
	height: 90px;
	background-color: #525252;
/* 	border-bottom: 1px solid #000000; */
}

.navbar-inner {
  border-radius: 0px;
  webkit-border-radius: 4px;
}

a {
color: 
#f96b02;
}

#informations p {
margin: 0;
}

.pull-left {
float: left;
}

#author-avatar {
margin-right: 10px;
}

/* -------------- Debut bloc connect  ---------------- */


#connect-box-fullwidth{
	width: 100%;
	background-color: #252324;
    
}
#connect-box {
	
	width: 1024px;
	height: 154px;
	background-color: #252324;
	margin: -20px auto 0 auto;
    
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(left, 
    rgba(37,35,36,1) 0%, 
    rgba(37,35,36,0.9) 10%,
    rgba(37,35,36,0.5) 20%,
    
    rgba(37,35,36,0) 35%,
    rgba(37,35,36,0) 65%,
    
    rgba(37,35,36,0.5) 80%,
    rgba(37,35,36,0.9) 90%,    
    rgba(37,35,36,1) 100%
    ),
    url('../img/join-header.jpg');
	
}

#connect-box-bottom{
	width: 100%;
	height: 10px;
	box-shadow:  0px -6px 7px 0px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
    margin-bottom: 30px;
}

#connect-button{
	position: relative;
	top:60%;
	width: 126px;
	height: 33px;
	margin: auto;
	background-image: url("../img/sprite.png");
	background-position: -1238px -512px;
	cursor:pointer;
	
}

#connect-button:hover{
    background-image: url("../img/sprite.png");
	background-position: -1238px -545px;
	
}

#connect-button:active{
    background-image: url("../img/sprite.png");
	background-position: -1238px -578px;
	
}

/* ---------------  fin bloc connect -------------------- */


/* ---------------  Debut page thumbnail -------------------- */

#thumbnails #image-wrapper{
	background: none;
	padding: 0;
}

.thumbs-box {
border-width: 5px 10px 10px 10px;
border-image: url('../img/border-image.png') 5 5 12 5 repeat;
margin: 0 20px 20px 0;
float: left;
width: 100%;
}

#sidebar-nav-box {
border-width: 5px 10px 10px 10px;
border-image: url('../img/border-image.png') 5 5 12 5 repeat;
margin: 0 20px 20px 0;
float: left;
width: 100%;
}

#thumbnails #main{

}

.thumbs-single {
	background: #ffffff;
	padding: 6px;
}

.thumbs-detail{
    font-size: 90%;
	min-height: 35px;
	display: block;
}

.thumbs-single img {
width:100%;
}

.row {
	
	margin-left: 0px!important;
	max-width: 100%!important;
}


#thumbnails .content {
	
	
	
}

#thumbnails .container-fluid{
	
	padding: 0!important;
	
}



#thumbnails #content-single-wrapper {
margin: 0 5px 20px 5px!important;
}

.thumbs-category {
	float: left;	
	width: 20px;
	height: 18px;
	background-color: blue;
	margin: 0 6px 0 0!important;
	background: url('../img/sprite.png');
	background-position: -522px -618px;
}

.thumbs-profil {
	float: left;
	width: 20px;
	height: 18px;
	background-color: blue;
	margin: 0 5px 0 0!important;
	background: url('../img/sprite.png');
	background-position: -522px -636px;
}

.thumbs-up {
	float: left;
	width: 20px;
	height: 18px;
	background-color: blue;
	margin: 0 5px 0 0!important;
	background: url('../img/sprite.png');
	background-position: -522px -653px;
}

.thumbs-comment {
	float: left;
	width: 20px;
	height: 18px;
	background-color: blue;
	margin: 0 5px 0 0!important;
	background: url('../img/sprite.png');
	background-position: -522px -670px;
}

.thumbs-detail {
    padding: 10px 0 0 0!important;
}

.thumbs-updown {
	width: 60px;
	float: left;
	color: #a29b94;
	font-weight: bold;
}

.thumbs-separator {
	border-bottom: 1px solid #c8c8c8;
    margin-top: 4px;
    margin-bottom: 4px;
}

.thumbs-content{
	
	width: 29%;
	float: left;
	margin-right: 4%;
	
}



/*
.fluid .box.col1 {
width: 16%;
}

.fluid .box {
margin: 5px 0.9% 5px 1%;
padding: 5px 1%;
}

.box img {
	
	width: 100%;
	height: auto;
}

.box {

}
*/


/* ---------------  fin page thumbnail -------------------- */


/* --------------  CSS Single  ---------------- */

#commentaire {
	
	margin: 10px 0 0 0;
}

#content-single-wrapper{
  padding: 15px 0 0 0;
  margin: 0 30px 20px 30px;
}

#single #content-single-wrapper{
	padding: 15px 0 30px 0;
}

#thumbnails #content-single-wrapper{
	padding: 0px 0 30px 0;
}

#comment-box {
  width: 98%;
  height: 40px;
  margin: 0 10px 8px 0px;
}


#content-single{

}

#main-image {
  max-width: 100%;
}

#vote-wrapper {
  float: left;
  margin-top:-1px;
  margin-right: -100%;
  margin-left: -56px;
  width: 55px;
  float: left;
  position: relative;
  z-index: 4;
}

.comment-author-avatar {
float: left;
margin-right: 10px;
}

.comment-author-avatar img{
width: 50px!important;
height: 50px!important;
}

#comment-author-avatar-log {
    float: left;
	margin: 0 0 0 0!important;
	padding: 0 0 0 4px;
	width: 80px;
	background-image: url("../img/corner.gif");
	background-repeat: no-repeat;
	background-position: right center;
}

#comment_corner {
width: 10px;
height: 10px;
}

#vote-comment-wrapper {
margin-left: -5px;
float: left;
}



#comment-right-column {
float: left;
width: 80%;
}
.comment {
	
	clear: both;
	margin: 20px 0 0 3px;
}

#username-comment {
float: left;
font-family: "HelveticaNeue-Regular", "Helvetica", "Arial", "Lucida Grande", sans-serif;
margin-top: -5px;
margin-right: 15px;
color: 
#f96b02;
font-size: 13.5px;
}

.comment-time {
margin-top: -5px;
margin-bottom: 0px!important;
float: left;
color: 
#979797;
font-size: 13px;
}

.comment-vote {
width: 25px;
height: 20px;
background: url('http://checkdonc.ca/static/less/../img/sprite.png');
}

.comment-vote-down:active {
background-position: -473px -373px;
}

.comment-vote-down {
margin-top: -10px;
background-position: -473px -333px;
}

.comment-vote-up {
background-position: -473px -314px;
}

.comment-wrapper {
padding: 0 12px 10px 10px;
}

#all-comment-wrapper{
	
}

#comment-score {
margin-left: 6px;
}

.best-all-comments {
color: 
#979797;
font-size: 16px;
margin: 10px 0 20px 0;
}

#best-comment{
	
}

#all-comments{
margin-top: -8px;
}

/* ---------------  Debut Vote -------------------- */

.vote-up-down{
  width: 56px;
  height: 60px;
  background:url(@sprite);
}
.point {
  width: 56px;
  height: 52px;
  background-position: -309px -620px;
  font-family:"Helvetica", sans-serif;
  font-size:20px;
  color:white;
}

@vote-x : -367px;
@vote-on-x : -308px;

.up {
  background-position: @vote-x -355px;
}
.up:hover {
  background-position: @vote-x -290px;
}
.up:active {
  background-position: @vote-x -225px;
}
.up-on {
  background-position: @vote-on-x -355px;
}
.up-on:hover {
  background-position: @vote-on-x -290px;
}
.up-on:active {
  background-position: @vote-on-x -225px;
}
.down {
  background-position: @vote-x -425px;
}
.down:hover {
  background-position: @vote-x -490px;
}
.down:active {
  background-position: @vote-x -555px;
}
.down-on {
  background-position: @vote-on-x -425px;
}
.down-on:hover {
  background-position: @vote-on-x -490px;
}
.down-on:active {
  background-position: @vote-on-x -555px;
}
  
/* ---------------  Fin Vote -------------------- */

  
/* ---------------  Debut commentaire -------------------- */

#below-content-toolbar {
  margin:0 0 20px 0;
  height: 30px;
}
#buttons-below-the-content {
  padding: 20px 20px 20px 10px;
  height: 110px;
}


/* ---------------  Fin commentaire -------------------- */






/* --------------  Debut top-thumbs  ---------------- */

#top-thumbs {
  .texture;
  float: right;
  max-width: 300px;  
  padding-top:20px;
  padding-left: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;  
}

.thumbnails_images img{
  margin: 0 0 4px 0;
  
}

.thumbnails_images:hover {
  text-decoration: none;
}

.sidebarThumbs {

}

.brand {
  margin-left: -20px!important;
}

/* --------------  Fin top-thumbs  ---------------- */

/* -------------- Debut CSS sidebar-nav  ---------------- */

#sidebar-nav {
	
	width: 92%;
	padding: 5px 12px 10px 12px;
	background-color: #ffffff;
	font-size: 11px;
}

#sidebar-nav a {
	
		margin-right: 9px;
		color: #a29b94;
	
}

#sidebar-nav p {
		width: 100%;
		margin-right: 11px;
		padding-bottom: 4px;
	
}

.sidebar-box {
	
	border-width: 5px 10px 10px 10px;
    border-image: url('../img/border-image.png') 5 5 12 5 repeat;
    margin: 20px 20px 20px -3px;
    float: left;
    width: 95%;
	
}

/* --------------  Fin CSS sidebar-nav  ---------------- */






/////////////MEDIA QUERIES////////////////


@media (max-width: 979px){
 /*
 #wrapper #single {
  padding:10px!important;
  margin: -8px 0 0 0px;
  }
*/
  .content{
  margin-right:240px;
  }
  #connect-box-bottom {
	  
	  margin-bottom: 13px!important;
  }
  #thumbnails .content{
  margin-right:300px;
  }
  #main_container {
  padding:0 20px 0 20px; 
  }
  #vote-wrapper {
	  display:none;
  }
  #top-thumbs{
  width: 195px; 
  }
  #comment-right-column {
	  width: 70%;
  }
  #connect-box {
	  width: auto;
  }
  
   .thumbs-content {
	  
	  width: 43%;
	  margin-right: 7%;
	  
  }
}

@media (max-width: 767px){
  .navbar {
  margin: 0 -20px 20px -20px;
  }
  #wrapper  {
  float: left!important;
  margin: 10px -8px 0 14px!important; 
  }
  
  
  
  #thumbnails .content{
  margin-right:0;
  }
  
  #main_container {
  padding:0 0 0 0; 
  }
  .content {
  margin-right:0px;
  }
  .adTop{
  display: none;
  }
  #sidebar{
  display: none;
  }
  
  #connect-box-fullwidth {
	  width: 108%;
	  margin: 0 -20px 0px -20px;
	  overflow: visible;
	  display: block;
  }
  #connect-box {
	  width: 100%;
  }
  
  #connect-box-bottom {
	 width: 767px; 
	 margin: 0 -20px 22px -20px;
  }
  
 
  
}

@media (max-width: 479px){
/*
  #wrapper {
  padding: 0px!important;
  margin: -8px -8px 0 45px;
  }
  
*/
  #wrapper  {
  float: left!important;
  margin: 10px -8px 0 24px!important; 
  }
  
  .thumbs-content {
	  
	  width: 43%;
	  margin-right: 7%;
	  
  }
  
  #main_container {
  padding:0 0 0 0; 
  }
  .content {
  margin-right:0px;
  }
  .adTop{
  display: none;
  }
  #sidebar{
  display: none;
  }
  

}

@media (max-width: 319px){
  #wrapper {
  padding: 0px!important;
  margin: -8px -8px 0 -8px;
  }
  .content {
  margin-right:0px;
  }
  .adTop{
  display: none;
  }
  #sidebar{
  display: none;
  }	
}
