/*
body {
  background-color: #b73a3a;	
}

.container-fluid {
	width: 1024px!important;
	margin: auto;
}

#content{	
  background-color: #3f0707;
  width: 700px;
  min-height: 100px;
  float: left;
  margin: 0 20px 0 0;
}

#sidebar{	
  background-color: #1c13bf;
  width: 300px;
  min-height: 100px;
  float: left;  
}


@media (max-width: 1190px) {
  .container-fluid {
  width: 90%!important;
  position: relative;
  }
  #content {
  margin-right: 320px;
  background-color: #7a7aa6;
  
  
  }
  #sidebar{
  margin-left: -100%;
  float: right;
  position: relative;
  z-index: 4;
  }

}

@media (max-width: 767px) {
  #content {
  margin-right: 320px;
  background-color: aqua;
  margin: auto;
  }
  #sidebar{
  display: none;
  }
}

@media (max-width: 480px) {
  #content {
  width: 100%;
  background-color: #0a5023;
  margin: auto;
  }
  #sidebar{
  display: none;
  }
}

@media (max-width: 320px) {
  #content {
  width: 300px;
  background-color: gray;
  margin: auto;
  }
  #sidebar{
  display: none;
  }
}
------------------------------ */



#sidebar { 
 margin-left:-100%;
 width:300px;
 min-height: 200px;

float:right;
position:relative;
z-index:4;
background-color: aqua;
}

#wrapper { padding-top:30px;}
#main-wrap { /*padding:0px 50px 50px 0px;*/ 
padding-bottom:50px;
margin-bottom:80px;
}

#main {float:left;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
border-top-left-radius: 5px;
min-height:650px;
width:100%;
position:relative; z-index:3;
background-color:green;
}
#container {margin-right:330px;
	background-color: fuchsia;
	min-height: 200px;
}

