@nav-height: 60px;
@back-color: lightgray;
@back-img:     '../img/back.jpeg';
@sprite:       '../img/sprite.png';
@texture:      '../img/texture.gif';
@border-image: '../img/border-image.png';


.itemDesc {
position: absolute;
margin-top: -192px;
font-size: 24px;
color: #484848;
width: 157px;
height: 192px;
padding: 10px;
font-weight: bold;
line-height: 28px;
opacity: 0;
}

.itemDesc:hover{
	position:absolute;
	margin-top: -192px;
	font-size:22px;
	color:#000;
	width:157px;
	height:192px;
	padding-top:30px;
	font-weight:bold;
	line-height: 22px;
	opacity:0.6;
	filter:alpha(opacity=60);
	background-color:#fff;
}


body {
  padding-top: @nav-height;
  background-color: @back-color;
  background-repeat:no-repeat; 
  background-position: center top;
}
.texture {
  background: url(@texture);
}
#content {
  .texture;
  float: left;
  padding-top: 10px;
  padding-left: 40px;
  clear: both;
  margin: 0 auto;
  width: 645px;
}
#content-single {
  .texture;
  width: 645px;
}
#content-single-wrapper {
  margin: 15px 30px;
}
#image-wrapper{
  background-color: lightgray;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  iframe {
    width: 100%;
    height: 480px;
  }
}
#sidebar {
  background: url(@texture);
  float: right;
  width: 300px;
}
#title{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 23px;
  color: #3f3f3f;
}
.navbar-inner {
  text-align:center;
}
.li-items {
  margin-top: 3px;
}
.centered {
  width: 480px;
  margin: auto;
  text-align: center;
  margin-top: 5px;
}
.titre{
  color: #505050;
  font-family:helvetica, arial, sans-serif; 
  font-size:28px; 
  font-weight:normal;
}
.logo{
  width: 340px;
  height: 200px;
  margin: auto;
  background:url(@sprite);
  background-position: -435px -0px;
}
@social-btn-x: 0;
.social-btn{
  width: 259px;
  height: 72px;
  background:url(@sprite);
}
.fb {
  background-position: @social-btn-x 0;
  margin:auto;
}
.fb:hover {
  background-position: @social-btn-x -72px;
}
.fb:active {
  background-position: @social-btn-x -144px;
}
.tw {
  background-position: @social-btn-x -216px;
  float: right; 
  margin-right:80px;
}
.tw:hover {
  background-position: @social-btn-x -288px;
}
.tw:active {
  background-position: @social-btn-x -360px;
}
.google {
  background-position: @social-btn-x -432px;
  margin:auto;
  width: 216px;
  margin-top:20px;
}
.google:hover {
  background-position: @social-btn-x -504px;
}
.google:active {
  background-position: @social-btn-x -576px;
}

.piton {
  width: 20px;
  height: 4px;
  background:url(@sprite);
  margin-top: 12px;
  margin-bottom: 10px;
  margin-left: 15px;
}

@piton-x: -260px;

.random {
  background-position: @piton-x -225px;
}
.random:hover {
  background-position: @piton-x -255px;
}
.random:active {
  background-position: @piton-x -285px;
}
.image {
  background-position: @piton-x -368px;
}
.image:hover {
  background-position: @piton-x -390px;
}
.image:active {
  background-position: @piton-x -414px;
}
.video {
  background-position: @piton-x -437px;
}
.video:hover {
  background-position: @piton-x -461px;
}
.video:active {
  background-position: @piton-x -485px;
}
.crayon {
  background-position: @piton-x -513px;
}
.crayon:hover {
  background-position: @piton-x -547px;
}
.crayon:active {
  background-position: @piton-x -579px;
}
.brand {
  margin-top:5px;
}
.thumbs {
  border-width:5px 5px 12px 5px;
  //-moz-border-image:url(@border-image) 5 5 15 5 repeat stretch;
  //-webkit-border-image:url(@border-image) 25 30 10 20 repeat stretch;
  border-image:url(@border-image) 5 5 12 5 repeat;
  //border-width: 10px;
  //border-image:url("../img/border-image.png") 10 repeat;
  img {
    @radius: 4px;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -khtml-border-radius: @radius;
      border-radius: @radius;
  }
  img:hover {
    opacity:0.4;
  }
  margin-top: 20px;
  float: left;
}
.itemDesc{
  position:absolute;
  margin-top: -192px;
  font-size:24px;
  color:#484848;
  width:157px;
  height:192px;
  padding:10px;
  font-weight:bold;
  line-height: 28px;
  opacity:0;
  filter:alpha(opacity=0);
}

.itemDesc:hover{
  position:absolute;
  margin-top: -192px;
  font-size:22px;
  color:#000;
  width:157px;
  height:192px;
  padding-top:30px;
  font-weight:bold;
  line-height: 22px;
  opacity:0.6;
  filter:alpha(opacity=60);
  background-color:#fff;
}
#main-image {
  max-width: 100%;
}
#article-content {
  margin: 20px;
}
.navbar-search {
  position: relative;
  margin-right: 20px;
  input {
    height: 25px; 
  } 
}
.navbar-search .search-query {
  padding-left: 29px !important;
}
.navbar-search .icon-search {
  position: absolute;
  top: 9px;
  left: 11px;
  background-image: url('../img/glyphicons-halflings.png');
}
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;


}


.comment-vote {
  width: 25px;
  height: 20px;
  background:url(@sprite);
}

@comment-vote-x              : -473px;
@comment-vote-on-x           : -448px;
@comment-vote-up-y           : -314px;
@comment-vote-up-hover-y     : -295px;
@comment-vote-up-active-y    : -276px;
@comment-vote-down-y         : -333px;
@comment-vote-down-hover-y   : -353px;
@comment-vote-down-active-y  : -373px;

.comment-vote-up {
  background-position: @comment-vote-x @comment-vote-up-y;
}
.comment-vote-up:hover {
  background-position: @comment-vote-x @comment-vote-up-hover-y;
}
.comment-vote-up:active {
  background-position: @comment-vote-x @comment-vote-up-active-y;
}
.comment-vote-down {
  background-position: @comment-vote-x @comment-vote-down-y;
}
.comment-vote-down:hover {
  background-position: @comment-vote-x @comment-vote-down-hover-y;
}
.comment-vote-down:active {
  background-position: @comment-vote-x @comment-vote-down-active-y;
}
.comment-vote-up-on {
  background-position: @comment-vote-on-x @comment-vote-up-y;
}
.comment-vote-up-on:hover {
  background-position: @comment-vote-on-x @comment-vote-up-hover-y;
}
.comment-vote-up-on:active {
  background-position: @comment-vote-on-x @comment-vote-up-active-y;
}
.comment-vote-down-on {
  background-position: @comment-vote-on-x @comment-vote-down-y;
}
.comment-vote-down-on:hover {
  background-position: @comment-vote-on-x @comment-vote-down-hover-y;
}
.comment-vote-down-on:active {
  background-position: @comment-vote-on-x @comment-vote-down-active-y;
}

/////VOTE UP - VOTE DOWN///////

.vote-up-down{
  width: 56px;
  height: 60px;
  background:url(@sprite);
}
.point {
  width: 56px;
  height: 52px;
  background-position: -309px -620px;
  font-family:"Helvetica", sans-serif;
  font-size:20px;
  color:white;
}

@vote-x : -367px;
@vote-on-x : -308px;

.up {
  background-position: @vote-x -355px;
}
.up:hover {
  background-position: @vote-x -290px;
}
.up:active {
  background-position: @vote-x -225px;
}
.up-on {
  background-position: @vote-on-x -355px;
}
.up-on:hover {
  background-position: @vote-on-x -290px;
}
.up-on:active {
  background-position: @vote-on-x -225px;
}
.down {
  background-position: @vote-x -425px;
}
.down:hover {
  background-position: @vote-x -490px;
}
.down:active {
  background-position: @vote-x -555px;
}
.down-on {
  background-position: @vote-on-x -425px;
}
.down-on:hover {
  background-position: @vote-on-x -490px;
}
.down-on:active {
  background-position: @vote-on-x -555px;
}
.comment-title {
  color: #868686;
  font-size: 14px;
  font-family:helvetica, sans-serif;
}
#comment-box {
  width: 95%;
  margin: 10px;
}


#vote-wrapper {
  float: left;
  margin-left:84px;
  margin-top:-1px;
}

/////////////MEDIA QUERIES////////////////

@media (min-width: 1200px) {
  #content {
    width: 820px;
  }
  #sidebar {
    width: 300px;
  }
}
@media (min-width: 1140px) and (max-width: 1199px) {
  .container {
    width: 1100px;
  }
  #content {
    margin-left: 100px;
    width: 635px;
  }
  #sidebar {
    width: 300px;
  }
}
@media (min-width: 980px) and (max-width: 1139px) {
  .container {
    width: 1000px;
  }
  #content {
    margin-left: 10px;
    width: 635px;
  }
  #sidebar {
    width: 300px;
  }
}
 
@media (min-width: 768px) and (max-width: 979px) {
  #content {
    width: 798px;
    margin-left: -60px;
  }
}

@media (min-width: 587px) and (max-width: 767px) {
  #content {
    width: 460px;
    margin-left: 50px;
  }
}

@media (min-width: 480px) and (max-width: 586px) {
  #content {
    width: 460px;
    margin-left: 5px;
  }
}
   
@media (max-width: 479px) {
  #content {
    width: 460px;
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .thumbs {
    width: 20%;
  }
}
   
 
