@nav-height: 60px;
@back-color: black;
@back-img:   '../img/back.jpeg';
@sprite:     '../img/sprite.png';
@texture:     '../img/texture.gif';
@big-screen:  1220px;
@big-container: 1190px;
@big-content : 824px;
@big-sidebar : 336px;

body {
  padding-top: @nav-height;
  background-color: @back-color;
  background-image:url(@back-img);
  background-repeat:no-repeat; 
  background-position: center top;
}
.container { 
  width: @big-container!important;
}
#content {
  width: @big-content!important;
  background: url(@texture);
}
#sidebar {
  width: @big-sidebar!important;
  background: url(@texture);
}

.piton {
  width: 20px;
  height: 4px;
  background:url(@sprite);
  margin-top: 12px;
  margin-bottom: 10px;
  margin-left: 15px;
}

@piton-x: -260px;

.image {
  background-position: @piton-x -368px;
}
.image:hover {
  background-position: @piton-x -390px;
}
.image:active {
  background-position: @piton-x -414px;
}
.video {
  background-position: @piton-x -437px;
}
.video:hover {
  background-position: @piton-x -461px;
}
.video:active {
  background-position: @piton-x -485px;
}
.crayon {
  background-position: @piton-x -512px;
}
.crayon:hover {
  background-position: @piton-x -533px;
}
.crayon:active {
  background-position: @piton-x -554px;
}
.random {
  background-position: @piton-x -225px;
}
.random:hover {
  background-position: @piton-x -255px;
}
.random:active {
  background-position: @piton-x -285px;
}
.brand {
  margin-top:5px;
}
.thumbs-and-featured {
  .rounded-corners (@radius: 5px) {
    border-radius: @radius; 
    -moz-border-radius: @radius; 
    -webkit-border-radius: @radius; 
  }
  img {
    .rounded-corners;
    margin-top: 3px;
    margin-left: 4px;
    width: 152px;
    height: 186px;
  }
  img:hover {
    opacity:0.4;
  }
  width: 166px;
  height: 200px;
  background: url(@sprite);
  background-position: -267px -4px;
  margin-top: 25px;
  margin-left: 33px;
}
.thumbs {
  .thumbs-and-featured;
  float: left;
}
.featured {
  .thumbs-and-featured;
  float: right;
  margin-right: 27px;
}
.navbar-search {
  position: relative;
}
.navbar-search .search-query {
  padding-left: 29px !important;
}
.navbar-search .icon-search {
  position: absolute;
  top: 5px;
  left: 11px;
  background-image: url('../img/glyphicons-halflings.png');
}
/* Infinite Scroll loader */
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

