@charset "utf-8";
/* CSS Document */


* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.logoPunn{
  float: left;
  margin-left: -20px;
  width:160px;
  height: 55px;
  margin-right:-20px;
  background:url(../img/punnitIcons.png);
  background-position:-10px -8px;
}


.navbar-inner{
	background:url(../img/bg_nav.png);


}



.box-right{
	width:100%;
	background-color:#f3f3f3;
	height:347px;
	margin-bottom:30px;
	/*padding:20px;*/
	
}

.box-right img{
	margin-left:24px;
	margin-top:24px;
	
}

.sharetheworld{
	 background:url(../img/punnitIcons.png);
	 width:154px;
	 height:22px;
	 background-position:-5px -65px;
	 margin-top:10px;
	 margin-bottom:-30px;
	 margin-left:-10px;
	 
}

.photo-icon{
	 background:url(../img/punnitIcons.png);
	 width:65px;
	 height:50px;
	 background-position:-167px -15px;;
	 

	 
}

.photo-icon:hover{
	 background:url(../img/punnitIconsH.png);
	 width:65px;
	 height:50px;
	 background-position:-167px -15px;;
	 

	 
}


.video-icon{
	 background:url(../img/punnitIcons.png);
	 width:60px;
	 height:50px;
	 background-position:-235px -15px;
	

	 
}
.video-icon:hover{
	 background:url(../img/punnitIconsH.png);
	 width:60px;
	 height:50px;
	 background-position:-235px -15px;
	 

	 
}

.write-icon{
	 background:url(../img/punnitIcons.png);
	 width:60px;
	 height:50px;
	 background-position:-305px -15px;
	

	 
}

.write-icon:hover{
	 background:url(../img/punnitIconsH.png);
	 width:60px;
	 height:50px;
	 background-position:-305px -15px;
	

	 
}



.lick-icon{
	 background:url(../img/punnitIcons.png);
	 width:60px;
	 height:50px;
	 background-position:-375px -15px;	
	

	 
}

.lick-icon:hover{
	 background:url(../img/punnitIconsH.png);
	 width:60px;
	 height:50px;
	 background-position:-375px -15px;	
	 
	 
}

.login-icon{
	 background:url(../img/punnitIcons.png);
	 width:75px;
	 height:55px;
	 background-position:-455px -15px ;
	 padding-left:25px;
	 background-repeat:no-repeat;
	 padding-top:5px;
	 color:#FFF;
	 font-family: 'Abel', sans-serif;
	 font-weight:bold;

}

.join-community{
	width:221px;
	height:70px;
	background:url(../img/punnitIcons.png) no-repeat;
	background-position:-10px -132px;
	margin-top:-10px;
	
}

.nav-search{
	width:100px;
	margin-top:12px;
	height:25px;
	

}


.top-main-col{
	height:55px;
	width:100%;
	background:url(../img/bg_col.png);
	padding-left:20px;
	padding-top:15px;
	font-family: 'Abel', sans-serif;
	font-weight:bold;
	font-size:14px;
	
	
}

.menu-main-col{
	background:url(../img/separator_maincol.png) no-repeat;	
	width:60px;
	height:30px;
	color:#FFF;
	float:left;
	text-align: center;
	padding-top:4px;
	 
}
.menu-main-col:hover{
	background:url(../img/bg_onfocus.png) no-repeat;	
	width:60px;
	height:30px;
	color:#FFF;
	float:left;
	text-align: center;
	padding-top:4px;
	 
}

.menu-main-col-active{
	background:url(../img/bg_onfocus.png) no-repeat;	
	width:60px;
	height:30px;
	color:#FFF;
	float:left;
	text-align: center;
	padding-top:4px;
	 
}


.menu-main-col-small{
	background:url(../img/separator_maincol.png) no-repeat;	
	width:55px;
	height:28px;
	color:#FFF;
	float:left;
	text-align: center;
	padding-top:5px;
	font-size:11px;
	 
}
.menu-main-col-small:hover{
	background:url(../img/bg_onfocus.png) no-repeat;	
	width:55px;
	height:28px;
	color:#Fff;
	float:left;
	text-align: center;
	padding-top:5px;
	font-size:11px;
	 
}


.menu-main-col-small-active{
	background:url(../img/bg_onfocus.png) no-repeat;	
	width:55px;
	height:28px;
	color:#FFF;
	float:left;
	text-align: center;
	padding-top:5px;
	font-size:11px;
	 
}


/****************/

.thumbnailsMAIN{
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #D8D8D8;
	width:155px;
	height:187px;
	overflow:hidden;
	float:left;
	margin-left:20px;
	margin-top:20px;
	display:inline-block;
	-webkit-box-shadow: 0px 3px 3px 3px #dddddd;
	box-shadow: 0px 3px 3px 3px #dddddd;
	font-size:9px;
	
}

.itemicon1{
	background:url(../img/punnitIcons.png);
	background-position:-10px -98px;
	float:left;
	width:41px;
	height:28px;
	
}
.itemicon2{
	background:url(../img/punnitIcons.png);
	background-position:-50px -98px;	
	float:left;
	width:42px;
	height:28px;
	
}
.itemicon3{
	background:url(../img/punnitIcons.png);
	background-position:-93px -98px;
	float:left;
	width:46px;
	height:28px;
	
}
.itemicon4{
	background:url(../img/punnitIcons.png);
	background-position:-140px -98px;	
	float:left;
	width:24px;
	height:28px;
	
}

.itemTexte{
	padding-left:20px; 
	margin-top:5px;
	font-weight:bold;
	color:#777475;
	
}
 
.itemTexte2{
	padding-left:23px; 
	margin-top:5px;
	font-weight:bold;
	color:#777475;
	
}