{% extends "blogs/blobon.html" %}
{% load thumbnail i18n compress calculate_age %}
{% load url from future %}
  {% block indication %}
  <a href="http://blobon.com"><h3 class="masthead-brand">{% trans "Blobon.com" %}</a>{% trans " - Signup" %}</h3>
  {% endblock %}

  {% block slogan %}
  <h3>{% trans "Join Blobon now" %}</h3>
  {% endblock %}
  {% block form %}
  {% endblock %}
  {% block reg_form %}

<div class="col-md-8 col-md-offset-2">

 <div class="col-md-12" style="padding-bottom:20px;">
  <a href="http://blobon.com/" id="cancel" style="margin-left:5px;"><span title="{% trans "Cancel" %}" style="padding-left:5px;" id="cancel_button" class="glyphicon glyphicon-remove-circle pull-right"></span></a>
&nbsp;&nbsp;
  <span title="{% trans "Enter a username, a password and a valid email address to receive an activation key" %}" id="info_button" class="glyphicon glyphicon-question-sign pull-right"></span>
 </div>
 <form class="form-horizontal" role="form" action="/accounts/register/" method="POST">{% csrf_token %}
   <div class="form-group">
   <div class="col-sm-2 control-label">  
   {{ form.username.label_tag }} 
   </div>
   <div class="col-sm-10">
   {{ form.username }}
     <div class="register_field_errors" style="margin-top:10px;margin-left:-20px;">
     {{ form.username.errors }}
     </div>
   </div>
   
   </div>
   <div class="form-group">
  <div class="col-sm-2 control-label">
   {{ form.email.label_tag }} 
  </div>
  <div class="col-sm-10">
   {{ form.email }}
     <div class="register_field_errors" style="margin-top:10px;margin-left:-20px;">
     {{ form.email.errors }}
     </div>
  </div>
   </div>
   <div class="form-group">
  <div class="col-sm-2 control-label">
   {{ form.password1.label_tag }} 
  </div>
  <div class="col-sm-10">
   {{ form.password1 }}

     <div class="register_field_errors" style="margin-top:10px;margin-left:-20px;">
     {{ form.password1.errors }}
     </div>
  </div>
   </div>
   <div class="form-group">
 <div class="col-sm-2 control-label">
   {{ form.password2.label_tag }}
</div>
 <div class="col-sm-10">
   {{ form.password2 }}

     <div class="register_field_errors" style="margin-top:10px;margin-left:-20px;">
     {{ form.password2.errors }}
     </div>
</div>
   </div>
  <div class="col-md-12" style="margin-top:30px">
<button type="submit" id="register_submit" class="btn btn-default" disabled>{% trans "Create account" %}</button>
  </div>
 </form>
</div>
<script>
$('form').find(':input:not(:submit)').addClass('form-control');
</script>

<script>
      $(document).ready(function(){
        $('#id_username').change(function() {
        if($(this).val() != '' && $('#id_email').val() != '' && $('#id_password1').val() != '' && $('#id_password2').val() != '' ){
          $('#register_submit').prop("disabled", false);
          }
        else {
          $('#register_submit').prop("disabled", true);
        }
        });
      });
</script>

<script>
      $(document).ready(function(){
        $('#id_email').change(function() {
        if($(this).val() != '' && $('#id_username').val() != '' && $('#id_password1').val() != '' && $('#id_password2').val() != '' ){
          $('#register_submit').prop("disabled", false);
          }
        else {
          $('#register_submit').prop("disabled", true);
        }
        });
      });
</script>

<script>
      $(document).ready(function(){
        $('#id_password1').change(function() {
        if($(this).val() != '' && $('#id_email').val() != '' && $('#id_username').val() != '' && $('#id_password2').val() != '' ){
          $('#register_submit').prop("disabled", false);
          }
        else {
          $('#register_submit').prop("disabled", true);
        }
        });
      });
</script>

<script>
      $(document).ready(function(){
        $('#id_password2').change(function() {
        if($(this).val() != '' && $('#id_email').val() != '' && $('#id_password1').val() != '' && $('#id_username').val() != '' ){
          $('#register_submit').prop("disabled", false);
          }
        else {
          $('#register_submit').prop("disabled", true);
        }
        });
      });
</script>

    <script type="text/javascript">
      $(function () {
        $('#cancel_button').tooltip();
        $('#info_button').tooltip();
      });
    </script>
  {% endblock %}

