{% extends "blogs/blobon.html" %}
{% load thumbnail i18n compress calculate_age %}
{% load url from future %}
  {% block login_link %}
  {% endblock %}
  {% block slogan %}
  {% endblock %}
  {% block form %}
  {% endblock %}
  {% block reg_form %}

 <form role="form" action="/accounts/register/" method="POST">{% csrf_token %}
  <div class="col-md-8 col-md-offset-2">
   <div class="form-group">
   {{ form.username.label_tag }} 
   {{ form.username }}
     <div class="register_field_errors" style="margin-top:10px;margin-left:-20px;">
     {{ form.username.errors }}
     </div>
   
   </div>
   <div class="form-group">
   {{ form.email.label_tag }} 
   {{ form.email }}
     <div class="register_field_errors" style="margin-top:10px;margin-left:-20px;">
     {{ form.email.errors }}
     </div>
   </div>
   <div class="form-group">
   {{ form.password1.label_tag }} 
   {{ form.password1 }}

     <div class="register_field_errors" style="margin-top:10px;margin-left:-20px;">
     {{ form.password1.errors }}
     </div>

   </div>

   <div class="form-group">
   {{ form.password2.label_tag }}
   {{ form.password2 }}

     <div class="register_field_errors" style="margin-top:10px;margin-left:-20px;">
     {{ form.password2.errors }}
     </div>

   </div>
<button type="submit" id="register_submit" class="btn btn-default" disabled>{% trans "Submit" %}</button>
  </div>
 </form>

<script>
$('form').find(':input:not(:submit)').addClass('form-control');
</script>

<script>
      $(document).ready(function(){
        $('#id_username').change(function() {
        if($(this).val() != '' && $('#id_email').val() != '' && $('#id_password1').val() != '' && $('#id_password2').val() != '' ){
          $('#register_submit').prop("disabled", false);
          }
        else {
          $('#register_submit').prop("disabled", true);
        }
        });
      });
</script>

<script>
      $(document).ready(function(){
        $('#id_email').change(function() {
        if($(this).val() != '' && $('#id_username').val() != '' && $('#id_password1').val() != '' && $('#id_password2').val() != '' ){
          $('#register_submit').prop("disabled", false);
          }
        else {
          $('#register_submit').prop("disabled", true);
        }
        });
      });
</script>

<script>
      $(document).ready(function(){
        $('#id_password1').change(function() {
        if($(this).val() != '' && $('#id_email').val() != '' && $('#id_username').val() != '' && $('#id_password2').val() != '' ){
          $('#register_submit').prop("disabled", false);
          }
        else {
          $('#register_submit').prop("disabled", true);
        }
        });
      });
</script>

<script>
      $(document).ready(function(){
        $('#id_password2').change(function() {
        if($(this).val() != '' && $('#id_email').val() != '' && $('#id_password1').val() != '' && $('#id_username').val() != '' ){
          $('#register_submit').prop("disabled", false);
          }
        else {
          $('#register_submit').prop("disabled", true);
        }
        });
      });
</script>


  {% endblock %}

