{% load thumbnail i18n compress calculate_age %}
{% load url from future %}
        <div class="mastfoot" id="footer">
            <div class="inner">
              <a href="http://blog.blobon.com/p/QgwolHRA/">{% trans "Blog" %}</a>
              {% block contact %}
              <a href="{% url 'blogs.views.contact' %}">{% trans "Contact" %}</a>
              {% endblock %}
              <a href="http://blobon.com/terms">{% trans "Terms" %}</a>
              <a href="http://blobon.com/privacypolicy">{% trans "Privacy" %}</a>
              <a href="http://blog.blobon.com/p/HuUmPRkO/">{% trans "Jobs" %}</a>
              <a href="http://blobon.com/entreprise">{% trans "Entreprise" %}</a>
              <p>{% trans " © 2013 Blobon, Inc." %}</p>
            </div>
        </div>
