{% extends "blogs/blobon.html" %}
{% load thumbnail i18n compress calculate_age %}
{% load url from future %}

  {% block redirect %}
{% if user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url=http://blobon.com">
{% endif %}
  {% endblock %}

  {% block nav %}
  {% endblock %}
  {% block leaderboard %}
  {% endblock %}
  {% block login_link %}
  {% endblock %}
  {% block indication %}
  <a href="http://blobon.com"><h3 class="masthead-brand">{% trans "Blobon.com" %}</a>{% trans " - Login" %}</h3>
  {% endblock %}

  {% block form %}

  {% block pw_error %}
    {% if form.errors %}
      <div class="container">
        <div class="alert alert-danger alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {% trans "Your username and password didn't match. Please try again." %}
        </div>
      </div>
    {% endif %}
  {% endblock %}


      <form method="post" id="login_form" role="form" style="min-width:250px;display: inline-block;text-align: center;" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div class="form-group" style="padding:10px;">
          {{ form.username }}
        <div class="form-group">
        </div>
          {{ form.password }}
        </div>

        <button id="login_submit" type="submit" disabled="disabled" class="btn btn-primary btn-sm">{% trans "Login" %}</button>
        <a id="login_cancel" href="{% url 'blogs.views.index' %}" class="btn btn-default btn-sm">{% trans "Cancel" %}</a>
  </form>
    <script>
      $('#login_submit').click(function() {
        $('#login_form').submit();
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_username').change(function() {
        if($(this).val() != '' && $('#id_password').val() != '') {
          $('#login_submit').removeAttr('disabled');
          }
        else {
          $('#login_submit').prop("disabled", true);
        }
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_password').keyup(function() {
        if($(this).val() != '' && $('#id_username').val() != '') {
          $('#login_submit').removeAttr('disabled');
          }
        else {
          $('#login_submit').prop("disabled", true);
        }
        });
      });
    </script>

  {% endblock %}


