{% extends "blogs/blobon.html" %}
{% load thumbnail i18n compress calculate_age %}
{% load url from future %}
  {% block nav %}
  {% endblock %}
  {% block leaderboard %}
  {% endblock %}
  {% block login_link %}
  {% endblock %}


  {% block form %}

      <form method="post" id="login_form" role="form" style="min-width:250px;display: inline-block;text-align: center;" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div class="form-group" style="padding:10px;">
          {{ form.username }}
        <div class="form-group">
        </div>
          {{ form.password }}
        </div>

        <button id="login_submit"type="submit" disabled="disabled"class="btn btn-primary btn-sm">{% trans "Login" %}</button>
        <a id="login_cancel" href="{% url 'blogs.views.index' %}" class="btn btn-default btn-sm">{% trans "Cancel" %}</a>
  </form>
    <script>
      $('#login_submit').click(function() {
        $('#login_form').submit();
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_username').keyup(function() {
        if($(this).val() != '' && $('#id_password').val() != '') {
          $('#login_submit').prop("disabled", false);
          }
        else {
          $('#login_submit').prop("disabled", true);
        }
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_password').keyup(function() {
        if($(this).val() != '' && $('#id_username').val() != '') {
          $('#login_submit').prop("disabled", false);
          }
        else {
          $('#login_submit').prop("disabled", true);
        }
        });
      });
    </script>

  {% endblock %}


  {% block pw_error %}
    {% if form.errors %}
        <div class="spacer" style="padding-top:20px;">
      {% trans "Your username and password didn't match. Please try again." %}
        </div>
    {% endif %}
  {% endblock %}
