{% extends "settings_base.html" %}
{% load i18n markup humanize %}

{% block content %}
{% for post in news %}
          <div style="width:96%">
            <h2 class="fontBlobon">{{ post.title }}</h2>
            <p>
              <small>{% trans "Publié" %} {{ post.pub_date|naturaltime }}</small>
            </p>
            <p>{{ post.content|markdown }}</p>
          </div>
          <div style="clear: both; margin-bottom: 30px; margin-top:20px; border: 1px solid #e3e3e3"></div>

{% endfor %}
{% endblock %}
{% block sidebar %}
{% endblock %}
