{% extends "settings_base.html" %}
{% load i18n %}

{% block content %}
    <div class="well">

<form role="form" id="blob_it" method="post" action="{% url blogs.views.submit %}">{% csrf_token %}
{{ form.title.errors }}
  <div class="form-group">
{{ form.title.label }}
{{ form.title }}
  </div>

{{ form.translated_title.errors }}
  <div class="form-group">
{{ form.translated_title.label }}
{{ form.translated_title }}
  </div>

<img src="{{ image }}" style="max-width:400px;">

  <div class="form-group">
{{ form.message.label }}
{{ form.message }}
  </div>

  <div class="form-group">
{{ form.content.label }}
{{ form.content }}
  </div>

  <div class="form-group">
{{ form.translated_content.label }}
{{ form.translated_content }}
  </div>

            {{ form.source }}
            <input type="hidden" name="media" value="{{ image }}" id="media" />
            <input type="hidden" name="is_video" value="{{ is_video }}" id="is_video" />
            <br />

 <div class="control-group">
           <div class="controls">
             <button type="submit" class="btn btn-default">{% trans "Soumettre" %}</button>
           </div>
         </div>
         <div class="row" style="display: none">{{ form.layout_type }} </div>
         <input type="hidden" name="next" value="{{ next }}" />
       </form>

    <script>
      $( document ).ready(function() {
        $('#blob_it select[name=layout_type]').val('s');
      });
    </script>

        <script>
          $('#id_title').focus();
        </script>
      </div>
    </div>
{% endblock %}
  </body>
</html>
