            {% load i18n %}
            {% load thumbnail %}
            {% if latest_punn_list %}
              {% for punn in latest_punn_list %}
              <div class="thumbnailsMAIN">
	        <a href="{{ punn.get_absolute_url }}">
                  {% thumbnail punn.pic "155x185" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
		<!--<a href="#"><div class="itemicon1"></div></a>
		<a href="#"><div class="itemicon2"><div class="itemTexte">{{ punn.karma }}</div></div></a>
		<a href="#"><div class="itemicon3"><div class="itemTexte2">{{ punn.number_of_comments }}</div></div></a>
		<a href="#"> <div class="itemicon4"></div></a>-->
              </div> 
              {% endfor %}
            {% else %}
              <p>{% trans 'Nothing to See Here... Move Along... Move Along' %}</p>
            {% endif %}
