{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans 'Bienvenue' %}{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="well" >
      <h3>{% trans "Et maintenant quoi?" %}</h3>
    </div>
  </div>
  <div class="span4 well">
    <h4>{% trans "Étape 3 de 4" %}</h4>
    <div class="progress">
      <div class="bar" style="width: 75%;"></div>
    </div>
    <a class="btn btn-inverse" href="#">{% trans "Suivant" %}</a>
  </div>
{% endblock %}
