{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans 'Create an account' %}{% endblock %}

{% block content %}
  <h1>{% trans 'Join BlobOn' %}</h1>
    <form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.password1.errors }}
        {{ form.password1.label_tag }}
        {{ form.password1 }}

        {{ form.password2.errors }}
        {{ form.password2.label_tag }}
        {{ form.password2 }}

    </div>
    <p><input class="btn btn-warning" type="submit" value="{% trans 'Create my account' %}" /></p>

    </form>
    <p>
        Or signup with
        <ul>
            {# TODO : checkout what redirect_querystring does #}
            <li><a href="{% url 'socialauth_begin' backend='facebook' %}">Facebook</a></li>
            <li><a href="{% url 'socialauth_begin' backend='twitter' %}">Twitter</a></li>
            <li><a href="{% url 'socialauth_begin' backend='google' %}">Google</a></li>
        </ul>
    </p>
    
{% endblock %}

