{% extends "base.html" %}
{% load i18n thumbnail %}
{% load url from future %}
{% block title %}{% trans 'Se créer un compte / Étape 2' %}{% endblock %}
{% block additional_css %}
    <style>
      body {
        background: url({{ STATIC_URL }}img/blob_bg.gif);
      }

      a {
        color:#f4663b;
      }
      p {
        color:#828282;
      } 
    </style>
{% endblock %}
{% block topmenu %}
{% endblock %}
{% block container %}
     <div class="centered">
       <h2 class="titre">{% trans 'Créez votre compte' %}</h2>
        {% for auth_backed in social_auth.associated  %}
         <div class="alert alert-info">
          {% blocktrans with backend_name=auth_backed.provider|title %}
           Connecté avec {{ backend_name }}
          {% endblocktrans %}
         </div>
        {% endfor %}
       <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
         {% thumbnail request.user.get_profile.avatar "200x200" as avatar %}
         <img src="{{avatar.url}}" class="img-polaroid" style="margin-bottom: 15px;"/>
         {% endthumbnail %}
         {% if form.username.errors %}
         <div class="control-group error">
           <label class="control-label" for="inputUsername">{% trans "Nom d'utilisateur" %}</label>
           <div class="controls">
             {{ form.username }}
             <span class="help-inline">{% for error in form.username.errors %}{{ error|escape }}{% endfor %}</span>
           </div>
         </div>
         {% else %}
         <div class="control-group">
           <label class="control-label" for="inputUsername">{% trans "Nom d'utilisateur" %}</label>
           <div class="controls">
             {{ form.username }}
           </div>
         </div>
         {% endif %}
         {% if form.email.errors %}
         <div class="control-group error">
           <label class="control-label" for="inputError">{% trans "Adresse courriel" %}</label>
           <div class="controls">
             {{ form.email }}
             <span class="help-inline">{% for error in form.email.errors %}{{ error|escape }}{% endfor %}</span>
           </div>
         </div>
         {% else %}
         <div class="control-group">
           <label class="control-label" for="inputEmail">{% trans "Adresse courriel" %}</label>
           <div class="controls">
             {{ form.email }}
           </div>
         </div>
         {% endif %}
         {% if form.password.errors %}
         <div class="control-group error">
           <label class="control-label" for="inputError">{% trans "Mot de passe" %}</label>
           <div class="controls">
             {{ form.password }}
             <span class="help-inline">{% for error in form.password.errors %}{{ error|escape }}{% endfor %}</span>
           </div>
         </div>
         {% else %}
         <div class="control-group">
           <label class="control-label" for="inputEmail">{% trans "Adresse courriel" %} :</label>
           <div class="controls">
             {{ form.password }}
           </div>
         </div>
         {% endif %}
         <div class="control-group">
           <div class="controls">
             <button type="submit" class="btn btn-primary">{% trans "Créer un compte" %}</button>
           </div>
         </div>
         <input type="hidden" name="next" value="{{ next }}" />
       </form>
     </div>
{% endblock %}

