{% extends "registration/login.html" %}
{% load i18n %}
{% block title %}{% trans "Check Donc Ça" %} / {% trans "Veuillez créer votre compte" %}{% endblock %}
{% block heading %}{% trans "Veuillez créer votre compte" %}{% endblock %}
{% block pitch %}

<p>
Pour bien profiter des fonctionnalités, comme le partage de profit, il faut avoir son compte.
</p>

<p>
Encore un compte!?! 
</p>

<p>
Oui. Encore un compte. L'internet fonctionne pas mal comme ça. Par contre, on a essayé de vous faciliter la vie le plus possible en vous permettant d'utiliser Facebook pour faire la création de compte. 
</p>

<p>
On demande la permission de publier en votre nom, chose qu'on ne fera pas à moins que vous cochez une case pour le faire. On est des gentils. :-)
</p>


{% endblock %}
