{% extends "base.html" %}
{% load i18n thumbnail %}
{% load url from future %}
{% block title %}{% trans 'Se créer un compte / Étape 2' %}{% endblock %}
{% block additional_css %}
    <style>
      body {
        background: url({{ STATIC_URL }}img/blob_bg.gif);
      }

      a {
        color:#f4663b;
      }
      p {
        color:#828282;
      } 
    </style>
{% endblock %}
{% block topmenu %}
{% endblock %}
{% block container %}
     <div class="centered">
       <div class="logo"></div>
       <h2 class="titre">{% trans 'Créez votre compte' %}</h2>
        {% for auth_backed in social_auth.associated  %}
         <div class="alert alert-info">
          {% blocktrans with backend_name=auth_backed.provider|title %}
           Connecté avec {{ backend_name }}
          {% endblocktrans %}
         </div>
        {% endfor %}
       <form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
<div class="control-group success">
  <label class="control-label" for="inputSuccess">Input with success</label>
  <div class="controls">
    <input type="text" id="inputSuccess">
    <span class="help-inline">Woohoo!</span>
  </div>
</div>
         <div class="control-group">
           <label class="control-label" for="inputEmail">{% trans "Nom d'utilisateur" %}</label>
           <div class="controls">
             {{ form.username }}
           </div>
         </div>
         <div class="control-group">
           <label class="control-label" for="inputEmail">{% trans "Adresse courriel" %}</label>
           <div class="controls">
             {{ form.email }}
           </div>
         </div>
         <div class="control-group">
           <label class="control-label" for="inputPassword">{% trans "Mot de passe" %}</label>
           <div class="controls">
             {{ form.password }}
           </div>
         </div>
         <div class="control-group">
           <div class="controls">
             <button type="submit" class="btn">{% trans "Se connecter" %}</button>
           </div>
         </div>
         <input type="hidden" name="next" value="{{ next }}" />
       </form>

       <div classs="signup-form">
           <form method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               {{form.as_table}}
               <div>
                   {% thumbnail request.user.get_profile.avatar "200x200" as avatar %}
                       <img src="{{avatar.url}}" />
                   {% endthumbnail %}
                   <input type="submit" value="{% trans "Créer un compte" %}"></input>
               </div>
               
               {% for auth_backed in social_auth.associated  %}
                   <li>
                       {% blocktrans with backend_name=auth_backed.provider|title %}
                       Connecté avec {{ backend_name }}
                       {% endblocktrans %}
                   </li>
               {% endfor %}
               
               
           </form>
       </div>
     </div>
{% endblock %}

