{% extends "blogs/administrateblog.html" %}
{% load i18n %}
{% load url from future %}
    {% block additional-css %}
    <style>
      .edit_buttons {
        padding: 10px;0px;5px;0px;
      }
    </style>
  {% endblock %}
  {% block dashboard-active %}{% endblock %}
  {% block tags-active %}class="active"{% endblock %}
  {% block content %}


          <div class="panel panel-primary" id="new_tag_form" style="display: none">
            <div class="panel-heading">{% trans "Add a new tag :" %}</div>
            <div class="panel-body">
              <form enctype="multipart/form-data" id="newtag" role="form" method="post" action="{% url 'blogs.views.administratetags' blog.slug %}">{% csrf_token %}
                <div class="form-group">
                  {{ form.name.label_tag }}
                  {{ form.name }}
                </div>
                <div class="form-group">
                 {{ form.description.label_tag }}
                 {{ form.description}}
                </div>
                <div class="form-group" style="display:none;">
                 {{ form.slug.label_tag }}
                  {{ form.slug }}
                </div>

              </form>
              <button id="submittag" class="btn btn-primary btn-xs" disabled="disabled" title="{% trans "Save your new tag" %}"><span class="glyphicon glyphicon-ok-circle"></span> {% trans "Save" %}</button>
              <span id="cancel_new_tag" title="{% trans "Cancel add tag" %}" class="glyphicon glyphicon-remove-circle pull-right"></span>
            </div>
          </div>



          <div class="panel panel-default">
            <div class="panel-heading">{% trans "Tags" %}<a href="#" class="btn btn-default btn-xs pull-right" id="add_new_tag" title="{% trans "Add a New Tag" %}">{% trans "Add new" %}</a></div>
              <div class="panel-body">
              </div>
<div class="table-responsive">
            <table class="table table-striped">
              <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-6">
                <col class="col-xs-2">
              </colgroup>
              <thead>
                <tr>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Description" %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for tag in tags %}
                <tr>
                  <td><a href="{% url 'blogs.views.edittag' tag.id %}" id="edittag" title="{% trans "Modify This tag" %}" class="edit_tag">{{ tag.name }}</a>
                  </td>
                  <td>{{ tag.description }}<a href="{% url 'blogs.views.converttag' tag.id %}" id="converttag" class="pull-right delete_tag" title="{% trans "Convert this tag to a category"%}">{% trans "Convert to a category" %}</a></td>
                  <td><a href="#" id="deletetag" data-toggle="modal" data-target="#{{ tag.id }}" class="pull-right"><button type="button" class="close delete_tag" title="{% trans "Delete this tag" %}">&times;</button></a></td>
                </tr>


  <div class="modal fade" id="{{ tag.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Tag" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you Sure You Want to Delete This Tag?" %}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deletetag' tag.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>

              {% endfor %}
              </tbody>
            </table>
</div>
          </div>
    <script type="text/javascript">
      $(function () {
        $('#add_new_tag').tooltip({container: 'body'});
        $(".edit_tag").tooltip({container: 'body', placement: 'bottom'});
        $(".delete_tag").tooltip({container: 'body', placement: 'bottom'});
      });
    </script>


    <script>
      $('#add_new_tag').click(function() {
        $('#add_new_tag').hide();
        $('#new_tag_form').show();
        setTimeout(function() { 
         $(".mceNoEditor").removeAttr("style");
        },10);
      });
    </script>

    <script>
      $('#cancel_new_tag').click(function() {
        $('#add_new_tag').show();
        $('#new_tag_form').hide();
        $('#newtag').each(function(){
          this.reset();
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_name').change(function() {
        if ($(this).val() != '') {
          $('#submittag').prop("disabled", false);
          }
        else {
          $('#submittag').prop("disabled", true);
        }
        });
      });
    </script>


    <script>
      $('#submittag').click(function() {
        $('#newtag').submit();
      });
    </script>

    <script>
      $(document).ready(function() {
        setTimeout(function() { 
         $(".mceNoEditor").removeAttr("style");
        },10);
                   });
         
    </script>
  {% endblock %}

