{% extends "blogs/administrateblog.html" %}
{% load i18n %}
{% load url from future %}
  {% block dashboard-active %}{% endblock %}
  {% block comments-active %}class="active"{% endblock %}
  {% block additional-css %}
    <style>
      .edit_buttons {
        padding: 10px;0px;5px;0px;
      }
.table{
word-wrap:break-word; 
  }

.navbar-default {
background-image: linear-gradient(to bottom,#fff 0,#C4BDB2 100%);
}

.panel-default>.panel-heading {
background-image: linear-gradient(to bottom,#fff 0,#C4BDB2 100%);
}
    </style>
  {% endblock %}
  {% block content %}
          <div class="panel panel-default">
            <div class="panel-heading">

           {% block status %}
<div class="row">
<div class="col-xs-12 col-md-6"> 
           {% trans "Comments to be approve" %}
</div>
<div class="col-xs-12 col-md-6">
            {% if comments %}
            <a href="{% url 'blogs.views.delete_pending_comments' blog.slug %}" class="btn btn-default btn-xs pull-right" id="del_all" title="{% trans "Delete all pending comments" %}">{% trans "Delete all" %}</a>
            {% endif %}
            <a href="{% url 'blogs.views.publishedcomments' blog.slug %}" class="btn btn-default btn-xs pull-right" id="all" title="{% trans "Published comments" %}">{% trans "View published comments" %}</a>
</div>
</div>
           {% endblock %}


            </div>
            {% if comments %}
              <div class="panel-body">
              </div>
<div class="table-responsive">
            <table class="table table-striped">
              <colgroup>
                <col class="col-xs-4">
                <col class="col-xs-2">
                <col class="col-xs-1">
                <col class="col-xs-3">
              </colgroup>
              <thead>
                <tr>
                  <th>{% trans "Comment" %}
                  </th>
                  <th>{% trans "Post" %}</th>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Email" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for comment in comments %}
                <tr>
                  <td>{{ comment.comment }}
                    <div class="edit_buttons">

                     {% block approve %}
                      <a href="{% url 'blogs.views.approvecomment' comment.id %}" type="button" class="btn btn-default btn-xs" id="approve_comment" title="{% trans "Approve this comment" %}"><span class="glyphicon glyphicon-star"></span> {% trans "Approve" %}</a>
                      <a href="{% url 'blogs.views.signalcomment' comment.id %}" type="button" class="btn btn-default btn-xs signal_comment" title="{% trans "Signal this comment to the administrator" %}"><span class="glyphicon glyphicon-bell"></span> {% trans "Signal" %}</a>
                     {% endblock %}

                      <a href="#" type="button" class="btn btn-default btn-xs delete_comment" title="{% trans "Delete this comment" %}" data-toggle="modal" data-target="#{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span> {% trans "Delete" %}</a>
                    </div>
                  </td>
                  <td>{{ comment.post }}
                    <div class="edit_buttons">
                      <a href="{{ comment.post.get_absolute_url }}" target="_blank" type="button" class="btn btn-default btn-xs view_post" title="{% trans "View This Post" %}"><span class="glyphicon glyphicon-new-window"></span> {% trans "View" %}</a>
                    </div>        
                  </td>
                  <td>{{ comment.name }}</td>
                  <td>{{ comment.email }}
                    <div class="edit_buttons">
                      <a href="mailto:{{ comment.email }}" target="_blank"  type="button" class="btn btn-default btn-xs send_mail" title="{% trans "Send an Email to the Author of the Comment" %}"><span class="glyphicon glyphicon-send"></span> {% trans "Send Email" %}</a>
                    </div>
                  </td>
                </tr>
  <div class="modal fade" id="{{ comment.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Comment" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you Sure You Want to Delete This Comment?" %}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deletecomment' comment.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>
              {% endfor %}
              </tbody>
            </table>
</div>
            {% else %}
            {% block no_comment %}
              <div class="panel-body">
              {% trans "This blog has no comment to approve" %}
              </div>
            {% endblock %}
            {% endif %}
          </div>

    <ul class="pager">
    <div class="row">
      <div class="col-md-4">
        {% if comments.has_previous %}
            <li><a class="pull-left" href="?page={{ comments.previous_page_number }}">{% trans "Previous" %}</a></li>
        {% endif %}
      </div>
      <div class="col-md-4">
        <span class="current">
            {% trans "Page" %} {{ comments.number }} {% trans "of" %} {{ comments.paginator.num_pages }}
        </span>
      </div>
      <div class="col-md-4">
        {% if comments.has_next %}
           <li><a class="pull-right" href="?page={{ comments.next_page_number }}">{% trans "Next" %}</a></li>
        {% endif %}
      </div>
    </div>
    </ul>


    <script type="text/javascript">
      $(function () {
        $(".signal_comment").tooltip({container: 'body', placement: 'bottom'});
        $(".delete_comment").tooltip({container: 'body', placement: 'bottom'});
        $(".view_post").tooltip({container: 'body', placement: 'bottom'});
        $(".send_mail").tooltip({container: 'body', placement: 'bottom'});
        $('#approve_comment').tooltip({container: 'body', placement: 'bottom'});
        $(".delete_comment_pu").tooltip({container: 'body', placement: 'bottom'});
        $(".btn").tooltip({container: 'body', placement: 'bottom'});
      });
    </script>  
  {% endblock %}
