{% extends "blogs/administrateblog.html" %}
{% load i18n %}
{% load url from future %}
  {% block additional-js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}farbastic/farbtastic.js" type="text/javascript"></script>

    <script src="http://www.lfhs.ca/blobon/assets/farbastic/farbtastic.js" type="text/javascript"></script>
  {% endblock %}
    {% block additional-css %}
    <style>
      textarea {
        resize: none;
      }
      .edit_buttons {
        padding: 10px;0px;5px;0px;
      }
      #choose_color{
        padding-bottom:10px;
        cursor: pointer;
      }
      #cancel_choose_color{
        padding-bottom:10px;
        cursor: pointer;
      }


    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}farbastic/farbtastic.css" type="text/css" />


    <link rel="stylesheet" href="http://www.lfhs.ca/blobon/assets/farbastic/farbtastic.css" type="text/css" />
  {% endblock %}
  {% block dashboard-active %}{% endblock %}
  {% block categories-active %}class="active"{% endblock %}
  {% block content %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>{{ field.name }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

          {% if categories %}

          <div class="panel panel-default">
            <div class="panel-heading"><b>{% trans "Categories : " %}</b><a href="#" class="btn btn-default btn-xs pull-right" id="add_new_category" title="{% trans "Add a New Category" %}">{% trans "Add new" %}</a></div>
          </div>
            {% else %}
          <div class="panel panel-default">
            <div class="panel-heading">{% trans "Categories" %}<a href="#" class="btn btn-default btn-xs pull-right" id="add_new_category" title="{% trans "Add a New Category" %}">{% trans "Add one" %}</a></div>
            <div class="panel-body">
             {% trans "This blog has no category" %}
            </div>
          </div>
            {% endif %}

          <div class="panel panel-primary" id="new_cat_form" style="display: none">
            <div class="panel-heading">{% trans "Add a new category :" %}</div>
            <div class="panel-body">
              <form enctype="multipart/form-data" id="newcat" role="form" method="post" action="{% url 'blogs.views.newcategory' blog.slug %}">{% csrf_token %}
            {% if categories %}
                <div class="form-group">
                 <b>{% trans "Parent: " %}</b>
                  {{categories_form.parent_category}}
                </div>
            {% endif %}
                <div class="form-group">
                  {{ categories_form.name.label_tag }}
                  {{categories_form.name}}
                </div>
                <div class="form-group">
                 {{ categories_form.description.label_tag }}
                 {{categories_form.description}}
                </div>
                <div class="form-group" style="display:none;">
                 {{ categories_form.slug.label_tag }}
                  {{categories_form.slug}}
                </div>
                <div class="form-group" id="add_form_color">    
                  <a id="choose_color" title="{% trans "Choose a color for your category, default is black" %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Choose a color" %}</a>
                  <a id="cancel_choose_color" title="{% trans "Cancel and leave the default color" %}" style="display:none;"><span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}</a>

             <div class="row" id="color_form" style="display: none">
               <div class="col-md-8 form_section" id="color">
               {{ categories_form.color.label_tag }}
               {{ categories_form.color }}
               </div>
               <div class="col-md-4 form_section" id="colorpicker"></div>

             </div>
                </div>

              </form>
              <button id="submitcat" class="btn btn-primary btn-xs" disabled="disabled" title="{% trans "Save your new category" %}"><span class="glyphicon glyphicon-ok-circle"></span> {% trans "Save" %}</button>
              <span id="cancel_new_category" title="{% trans "Cancel add category" %}" class="glyphicon glyphicon-remove-circle pull-right"></span>
            </div>
          </div>



         {% if cats_no_familly %}
           {% for category in cats_no_familly %}
         <ul class="list-group">
           <li class="list-group-item row" style="margin-left:0px;margin-right:0px;">
               <div class="col-xs-3">           
                 <a href="{% url 'blogs.views.editcategory' category.id %}" class="edit_category" title="{% trans "Modify This Category" %}">{{ category.name }}</a>
               </div>
               <div class="col-xs-5">
                 {{ category.description }}
               </div>
               <div class="col-xs-1"> 
                 <span class="badge pull-right" style="background-color:{{ category.color }};">&nbsp;&nbsp;</span>
               </div>
               <div class="col-xs-2">
                 <a href="{% url 'blogs.views.convertcategory' category.id %}" id="convertcat" class="pull-right delete_category" title="{% trans "Convert this category to a tag"%}">{% trans "Convert to a tag" %}</a>
               </div>
               <div class="col-xs-1">
                 <a href="#" id="deletecat" data-toggle="modal" data-target="#{{ category.id }}"><button type="button" class="close delete_category" title="{% trans "Delete this category" %}">&times;</button></a>
               </div>
           </li>


  <div class="modal fade" id="{{ category.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Category" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you sure you want to delete the category " %} {{ category.name }}{% trans "?" %}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deletecategory' category.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>


         </ul>
           {% endfor %}
         {% endif %}


         {% if cats_c_no_p %}
           {% for category in cats_c_no_p %}
         <ul class="list-group">
           <li class="list-group-item row" style="margin-left:0px;margin-right:0px;">
               <div class="col-xs-3" style="padding-bottom:20px;">
                 <a href="{% url 'blogs.views.editcategory' category.id %}" class="edit_category" title="{% trans "Modify This Category" %}">{{ category.name }}</a>
               </div>
               <div class="col-xs-5" style="padding-bottom:20px;">
                 {{ category.description }}
               </div>
               <div class="col-xs-1" style="padding-bottom:20px;">
                 <span class="badge pull-right" style="background-color:{{ category.color }};">&nbsp;&nbsp;</span>
               </div>
               <div class="col-xs-2">
                 <a href="{% url 'blogs.views.convertcategory' category.id %}" id="convertcat" class="pull-right delete_category" title="{% trans "Convert this category to a tag"%}">{% trans "Convert to a tag" %}</a>
               </div>
               <div class="col-xs-1" style="padding-bottom:20px;">
                 <a href="#" id="deletecat" data-toggle="modal" data-target="#{{ category.id }}"><button type="button" class="close delete_category" title="{% trans "Delete this category" %}">&times;</button></a>
               </div>
             {% for category in category.child_category.all|dictsort:"name" %}
             <ul class="list-group">
           <div class="row" style="margin-left:0px;margin-right:0px;">
               <div class="col-xs-3" style=padding-left:30px;>
                 <a href="{% url 'blogs.views.editcategory' category.id %}" class="edit_category" title="{% trans "Modify This Category" %}">{{ category.name }}</a>
               </div>
               <div class="col-xs-5">
                 {{ category.description }}
               </div>
               <div class="col-xs-1">
                 <span class="badge pull-right" style="background-color:{{ category.color }};">&nbsp;&nbsp;</span>
               </div>
               <div class="col-xs-2">
                 <a href="{% url 'blogs.views.convertcategory' category.id %}" id="convertcat" class="pull-right delete_category" title="{% trans "Convert this category to a tag"%}">{% trans "Convert to a tag" %}</a>
               </div>
               <div class="col-xs-1">
                 <a href="#" id="deletecat" data-toggle="modal" data-target="#sub1{{ category.id }}"><button type="button" class="close delete_category" title="{% trans "Delete this category" %}">&times;</button></a>
               </div>
           </div>
             </ul>







             {% for category in category.child_category.all|dictsort:"name" %}
             <ul class="list-group">
           <div class="row" style="margin-left:0px;margin-right:0px;">
               <div class="col-xs-3" style=padding-left:50px;>
                 <a href="{% url 'blogs.views.editcategory' category.id %}" class="edit_category" title="{% trans "Modify This Category" %}">{{ category.name }}</a>
               </div>
               <div class="col-xs-5">
                 {{ category.description }}
               </div>
               <div class="col-xs-1">
                 <span class="badge pull-right" style="background-color:{{ category.color }};">&nbsp;&nbsp;</span>
               </div>
               <div class="col-xs-2">                 
                 <a href="{% url 'blogs.views.convertcategory' category.id %}" id="convertcat" class="pull-right delete_category" title="{% trans "Convert this category to a tag"%}">{% trans "Convert to a tag" %}</a>
               </div>
               <div class="col-xs-1">
                 <a href="#" id="deletecat" data-toggle="modal" data-target="#sub2{{ category.id }}"><button type="button" class="close delete_category" title="{% trans "Delete this category" %}">&times;</button></a>
               </div>
           </div>
             </ul>




             {% for category in category.child_category.all|dictsort:"name" %}
             <ul class="list-group">
           <div class="row" style="margin-left:0px;margin-right:0px;">
               <div class="col-xs-3" style=padding-left:75px;>
                 <a href="{% url 'blogs.views.editcategory' category.id %}" class="edit_category" title="{% trans "Modify This Category" %}">{{ category.name }}</a>
               </div>
               <div class="col-xs-5">
                 {{ category.description }}
               </div>
               <div class="col-xs-1">
                 <span class="badge pull-right" style="background-color:{{ category.color }};">&nbsp;&nbsp;</span>
               </div>
               <div class="col-xs-2">                 
                 <a href="{% url 'blogs.views.convertcategory' category.id %}" id="convertcat" class="pull-right delete_category" title="{% trans "Convert this category to a tag"%}">{% trans "Convert to a tag" %}</a>
               </div>
               <div class="col-xs-1">
                 <a href="#" id="deletecat" data-toggle="modal" data-target="#sub3{{ category.id }}"><button type="button" class="close delete_category" title="{% trans "Delete this category" %}">&times;</button></a>
               </div>
           </div>
             </ul>


             {% for category in category.child_category.all|dictsort:"name" %}
             <ul class="list-group">
           <div class="row" style="margin-left:0px;margin-right:0px;">
               <div class="col-xs-3" style=padding-left:100px;>
                 <a href="{% url 'blogs.views.editcategory' category.id %}" class="edit_category" title="{% trans "Modify This Category" %}">{{ category.name }}</a>
               </div>
               <div class="col-xs-5">
                 {{ category.description }}
               </div>
               <div class="col-xs-1">
                 <span class="badge pull-right" style="background-color:{{ category.color }};">&nbsp;&nbsp;</span>
               </div>
               <div class="col-xs-2">                 
                 <a href="{% url 'blogs.views.convertcategory' category.id %}" id="convertcat" class="pull-right delete_category" title="{% trans "Convert this category to a tag"%}">{% trans "Convert to a tag" %}</a>
               </div>
               <div class="col-xs-1">
                 <a href="#" id="deletecat" data-toggle="modal" data-target="#sub4{{ category.id }}"><button type="button" class="close delete_category" title="{% trans "Delete this category" %}">&times;</button></a>
               </div>
           </div>
             </ul>

<!--  prochain subcat ici  -->

  <div class="modal fade" id="sub4{{ category.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Category" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you sure you want to delete the category " %} {{ category.name }}{% trans "?" %}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deletecategory' category.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>

           {% endfor %}


  <div class="modal fade" id="sub3{{ category.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Category" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you sure you want to delete the category " %} {{ category.name }}{% trans "?" %}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deletecategory' category.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>


           {% endfor %}




  <div class="modal fade" id="sub2{{ category.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Category" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you sure you want to delete the category " %} {{ category.name }}{% trans "?" %}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deletecategory' category.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>


           {% endfor %}









  <div class="modal fade" id="sub1{{ category.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Category" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you sure you want to delete the category " %} {{ category.name }}{% trans "?" %}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deletecategory' category.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>


           {% endfor %}
           </li>


  <div class="modal fade" id="{{ category.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Category" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you sure you want to delete the category " %} {{ category.name }}{% trans "?" %}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deletecategory' category.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>


         </ul>
           {% endfor %}
         {% endif %}



    <script type="text/javascript">
      $(function () {
        $('#add_new_category').tooltip({container: 'body'});
        $(".edit_category").tooltip({container: 'body', placement: 'bottom'});
        $(".delete_category").tooltip({container: 'body', placement: 'top'});
        $('#cancel_new_category').tooltip({container: 'body'});
        $('#submitcat').tooltip({container: 'body'});
        $('#choose_color').tooltip({container: 'body'});
        $('#cancel_choose_color').tooltip({container: 'body'});
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_parent_category').addClass("form-control setting_form input-block-level");
      });
    </script>

    <script>
      $('#choose_color').click(function() {
        $('#choose_color').hide();
        $('#cancel_choose_color').show();
        $('#color_form').show();
      });
    </script>

    <script>
      $('#cancel_choose_color').click(function() {
        $('#choose_color').show();
        $('#cancel_choose_color').hide();
        $('#color_form').hide();
        $('#id_color').val("#000000");
        $('#id_color').css("background-color", "")
      });
    </script>

    <script>
      $('#add_new_category').click(function() {
        $('#add_new_category').hide();
        $('#new_cat_form').show();
        $('#colorpicker').farbtastic('#id_color');
        $('#id_color').val("#000000");
        setTimeout(function() { 
         $(".mceNoEditor").removeAttr("style");
        },10);
      });
    </script>

    <script>
      $('#cancel_new_category').click(function() {
        $('#add_new_category').show();
        $('#new_cat_form').hide();
        $('#choose_color').show();
        $('#cancel_choose_color').hide();
        $('#color_form').hide();
        $('#id_color').css("background-color", "")
        $('#newcat').each(function(){
          this.reset();
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#id_name').keyup(function() {
        if ($(this).val() != '') {
          $('#submitcat').prop("disabled", false);
          }
        else {
          $('#submitcat').prop("disabled", true);
        }
        });
      });
    </script>


    <script>
      $('#submitcat').click(function() {
        $('#newcat').submit();
      });
    </script>

    <script>
      $(document).ready(function() {
        setTimeout(function() { 
         $(".mceNoEditor").removeAttr("style");
        },10);
                   });
         
    </script>



  {% endblock %}


