{% extends "blogs/administrateblog.html" %}
{% load i18n %}
{% load url from future %}
  {% block additional-css %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap.min.css">
    <style>
      .edit_buttons {
        padding: 10px;0px;5px;0px;
      }
    </style>
  {% endblock %}
  {% block dashboard-active %}{% endblock %}
  {% block posts-active %}class="active"{% endblock %}
  {% block content %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



          <div class="panel panel-default">
            <div class="panel-heading">{% trans "Posts" %}
                <div class="pull-right">  
                  <a href="{% url 'blogs.views.administrateblog' blog.slug %}" class="btn btn-default btn-xs" id="add_new_post" title="{% trans "Add a New Post" %}">{% trans "Add new" %}</a>
                  {% block status %}
                  <a href="{% url 'blogs.views.queue' blog.slug %}" class="btn btn-default btn-xs" id="queue" title="{% trans "View only the draft posts" %}">{% trans "View queue" %}</a>
                  <a href="{% url 'blogs.views.published' blog.slug %}" class="btn btn-default btn-xs" id="pub" title="{% trans "View only published posts" %}">{% trans "View publish" %}</a>
                  {% endblock %}
                </div>
            </div>
            {% if posts %}
            <table class="table table-striped">
              <colgroup>
                <col class="col-xs-4">
                <col class="col-xs-2">
                <col class="col-xs-1">
                <col class="col-xs-1">
                <col class="col-xs-2">
              </colgroup>
              <thead>
                <tr>
                  <th>{% trans "Title" %}
                  </th>
                  <th>{% trans "Category" %}</th>
                  <th>{% trans "Author" %}</th>
                  <th>{% trans "Status" %}</th>
                  <th>{% trans "Date" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for post in posts %}
                <tr>
                  <td>{% if post.title %}{{ post.title }}{% else %}{% trans "This post has no title" %}{% endif %}
                    <div class="edit_buttons">
                      <a href="{% url 'blogs.views.editpost' post.id %}" style="margin-bottom:5px;" class="btn btn-default btn-xs edit_post" title="{% trans "Modify This Post" %}"><span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}</a>
                      <a href="#" class="btn btn-default btn-xs delete_post" style="margin-bottom:5px;" title="{% trans "Delete This Post" %}" data-toggle="modal" data-target="#{{ post.id }}"><span class="glyphicon glyphicon-remove"></span> {% trans "Delete" %}</a>
                      <a href="{{post.get_absolute_url }}" target="_blank" style="margin-bottom:5px;" class="btn btn-default btn-xs view_post" title="{% trans "View This Post" %}"><span class="glyphicon glyphicon-new-window"></span> {% trans "View" %}</a>
                      {% if post.status == "D" %}
                      <a href="{% url 'blogs.views.publish_now' post.id %}" style="margin-bottom:5px;" class="btn btn-default btn-xs publish_post" title="{% trans "Publish this post now" %}"><span class="glyphicon glyphicon-ok"></span> {% trans "Publish now" %}</a>
                      {% endif %}
                      {% if not post.is_ready %}
                      <a href="{% url 'blogs.views.translatepost' post.id %}" target="_blank" style="margin-bottom:5px;" class="btn btn-default btn-xs translate_post" title="{% trans "Translate this post" %}"><span class="glyphicon glyphicon-euro"></span> {% trans "Translate" %}</a>
                      {% endif %}
                    </div>
                  </td>
                  <td>{% if not post.category %}{% trans "None" %}{% else %}{% for category in post.category.all %}<a href="{% url 'blogs.views.editcategory' category.id %}" class="post_category" title="{% trans "Edit this category" %}">{{ category }}</a><br/>{% endfor %}{% endif %}</td>
                  <td>{{ post.author }}</td>
                  <td>{% if post.is_ready %}{{ post.get_status_display }}{% else %}{% trans "To be translated" %}{% endif %}</td>
                  <td>{{ post.pub_date }}</td>
                </tr>
  <div class="modal fade" id="{{ post.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Post" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you Sure You Want to Delete This Post : " %}{{ post.title }}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deletepost' post.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="panel-body">
              <p>{% trans "There are no posts for this blog" %}</p>
            </div>
            {% endif %}
          </div>



    <ul class="pager">
    <div class="row">
      <div class="col-md-4">
        {% if posts.has_previous %}
            <li><a class="pull-left" href="?page={{ posts.previous_page_number }}">{% trans "Previous" %}</a></li>
        {% endif %}
      </div>
      <div class="col-md-4">
        <span class="current">
            {% trans "Page" %} {{ posts.number }} {% trans "of" %} {{ posts.paginator.num_pages }}
        </span>
      </div>
      <div class="col-md-4">
        {% if posts.has_next %}
           <li><a class="pull-right" href="?page={{ posts.next_page_number }}">{% trans "Next" %}</a></li>
        {% endif %}
      </div>
    </div>
    </ul>
    <script type="text/javascript">
      $(function () {
        $('#show_all_posts').tooltip({container: 'body'});
        $('#add_new_post').tooltip({container: 'body'});
        $(".edit_post").tooltip({container: 'body', placement: 'bottom'});
        $(".delete_post").tooltip({container: 'body', placement: 'bottom'});
        $(".view_post").tooltip({container: 'body', placement: 'bottom'});
        $(".post_category").tooltip({container: 'body'});
        $(".btn").tooltip({container: 'body'});
      });
    </script>
  {% endblock %}
