{% extends "blogs/blog.html" %}
{% load thumbnail i18n compress calculate_age %}
{% load url from future %}
{% load markup %}
{% load blog_tags %}
{% load i18n thumbnail punn_tags humanize %}
    {% block open-graphs %}
    <title>{% block title %}{{ post.title }}{% endblock %}</title>


    <meta name="description" content="{% if post.content %}{{ post.content|slice:":225" }}{% else %}{% if post.text %}{{ post.text|slice:":225" }}{% else %}{% if post.content_video %}{{ post.content_video|slice:":225" }}{% else %}{% if blog.description %}{{ blog.description|slice:":225" }}{% else %}{% if blog.short_description %}{{ blog.short_description}}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}">

    <!-- Le open graphs tags -->
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:url" content="{% if blog.custom_domain %}http://{{ blog.custom_domain }}{{ post.get_absolute_url }}{% else %}http://{{ blog.slug }}.blobon.com{{ post.get_absolute_url }}{% endif %}" />
{% if post.pic %}
                  {% thumbnail post.pic "400x300" crop="center" as im %}
    <meta property="og:image" content="{{ im.url }}" />
                  {% endthumbnail %}
                  {% endif %} 
   <!-- Le twitter cards -->
    <meta name="twitter:card" content="photo">
    <meta name="twitter:url" content="{% if blog.custom_domain %}http://{{ blog.custom_domain }}{{ post.get_absolute_url }}{% else %}http://{{ blog.slug }}.blobon.com{{ post.get_absolute_url }}{% endif %}">
    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:image" content="{{ MEDIA_URL }}{{ post.pic }}">
    <!-- Le canonical url -->
    <link rel="canonical" href="{% if blog.custom_domain %}http://{{ blog.custom_domain }}{{ post.get_absolute_url }}{% else %}http://{{ blog.slug }}.blobon.com{{ post.get_absolute_url }}{% endif %}" />
    {% endblock %}
      {% block post_in_posts %}
      {% endblock %}
      {% block post_in_posts_enfor %}
      {% endblock %}
    {% block fb %}
     {% endblock %}
      {% block blog_header %}
       <div class="row" style="padding-top:10px;">
       </div>
      {% endblock %}
      

{% block blog_left %}

      <ol class="breadcrumb">
        <li><a href="http://{% if blog.custom_domain %}{{ blog.custom_domain }}{% else %}{{ blog.slug }}.blobon.com{% endif %}">{% trans "Home" %}</a></li>
        {% if post.category.all %}<li>{% for category in post.category.all %}<a href="{% url "blogs.views.category" category.slug %}">{% if post.category.count >= 2 %}&nbsp; - {% endif %}{{ category.name }}</a>{% endfor %}</li>{% endif %}
        <li class="active">{{ post.title }}</li>
      </ol>

       <div class="col-sm-8 blog-main">
         <div class="blog-post">


           <h2 class="blog-post-title">{{ post.title }}</h2>
           {% if post.video %}
           <video width="620" height="440" controls>
             <source src="{{ MEDIA_URL }}{{ post.video }}" type="video/mp4">
             <source src="{{ MEDIA_URL }}{{ post.video_ogg }}" type="video/ogg">
             Your browser does not support the video tag.
           </video>
           {% endif %}
           {% if post.youtube_id %}
           <iframe width="600" height="360" src="http://www.youtube.com/embed/{{ post.youtube_id }}" frameborder="0" allowfullscreen></iframe>
           {% else %}


           {% if post.pic %}
           {% if post.file_extension == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}


           {% if post.pic_0 %}
           {% if post.file_extension_0 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_0 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_0 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}


           {% if post.pic_1 %}
           {% if post.file_extension_1 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_1 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_1 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}


           {% if post.pic_2 %}
           {% if post.file_extension_2 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_2 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_2 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}


           {% if post.pic_3 %}
           {% if post.file_extension_3 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_3 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_3 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}


           {% if post.pic_4 %}
           {% if post.file_extension_4 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_4 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_4 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}


           {% if post.pic_5 %}
           {% if post.file_extension_5 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_5 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_5 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_6 %}
           {% if post.file_extension_6 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_6 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_6 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_7 %}
           {% if post.file_extension_7 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_7 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_7 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_8 %}
           {% if post.file_extension_8 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_8 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_8 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_9 %}
           {% if post.file_extension_9 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_9 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_9 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_10 %}
           {% if post.file_extension_10 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_10 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_10 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_11 %}
           {% if post.file_extension_11 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_11 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_11 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_12 %}
           {% if post.file_extension_12 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_12 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_12 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_13 %}
           {% if post.file_extension_13 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_13 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_13 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_14 %}
           {% if post.file_extension_14 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_14 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_14 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_15 %}
           {% if post.file_extension_15 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_15 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_15 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_16 %}
           {% if post.file_extension_16 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_16 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_16 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_17 %}
           {% if post.file_extension_17 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_17 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_17 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_18 %}
           {% if post.file_extension_18 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_18 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_18 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_19 %}
           {% if post.file_extension_19 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_19 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_19 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_20 %}
           {% if post.file_extension_20 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_20 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_20 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_21 %}
           {% if post.file_extension_21 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_21 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_21 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_22 %}
           {% if post.file_extension_22 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_22 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_22 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_23 %}
           {% if post.file_extension_23 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_23 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_23 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}

           {% if post.pic_24 %}
           {% if post.file_extension_24 == ".gif" %}
           <img class="bordureGrise" style="width: 100%;" src="{{ MEDIA_URL }}{{ post.pic_24 }}" alt="{{ post.title }}" />
           {% else %}
           {% thumbnail post.pic_24 "700" as im %}
           <img class="bordureGrise" style="width: 100%;" src="{{ im.url }}" alt="{{ post.title }}" />
           {% endthumbnail %}
           {% endif %}
           {% endif %}



           {% endif %}

{% if post.content %}{% load markup %}{{ post.content|markdown|safe }}{% endif %}
{% if post.content_0 %}{% load markup %}{{ post.content_0|markdown|safe }}{% endif %}
{% if post.text %}{% load markup %}{{ post.text|markdown|safe }}{% endif %}
{% if post.content_video %}{% load markup %}{{ post.content_video|markdown|safe }}{% endif %}






        <div class="row" style="padding-bottom:10px;">
          <div class="col-xs-6 col-xs-offset-6" style="padding-top:10px;padding-left:30px;" >
            <div class="addthis_toolbox addthis_default_style" style="margin-right:-15px;">
              <div id="tw">
                <a class="addthis_button_tweet" style="width:90px;!important;height:20px !important;"></a>
              </div>
              <div id="fb_share">
                <a class="addthis_button_facebook_share" fb:share:layout="button" style="width:75px !important;height:20px !important;padding:none;"></a>
              </div>
              <div id="fb">
                <a class="addthis_button_facebook_like" fb:like:href="{% if blog.custom_domain %}http://{{ blog.custom_domain }}{{ post.get_absolute_url }}{% else %}http://{{ blog.slug }}.blobon.com{{ post.get_absolute_url }}{% endif %}" fb:like:layout="button_count" style="width:100px !important;height:20px !important;"></a>
              </div>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
            <script type="text/javascript" src="{{ STATIC_URL }}share/js/share.js#pubid=ra-512bd1f11b9d2efd"></script>
          </div>
        </div>





{% for category in post.category.all %}
<a href="{% url "blogs.views.category" category.slug %}" style="text-decoration:none;display:none;"><div class="cate" style="background-color:{{ category.color }};position:relative;margin-bottom:10px;color:#fff;">&nbsp&nbsp{{ category.name }}</div></a>
{% endfor %}
         </div>
         <hr>
         <div class="media" id="heading">
           <a class="pull-left" href="#">
           {% if post.author.userprofile.avatar %}
           {% thumbnail post.author.userprofile.avatar "64x64" crop="center" as im %}
           <img src="{{ im.url }}" alt="{{ post.author.first_name }} {{ post.author.last_name }}" />{% endthumbnail %}
           {% endif %}
           </a>
           <div class="btn-group pull-right">
             <a href="{{ prev_post.get_absolute_url }}" class="btn btn-sm btn-default prev_next" title="{% trans "View previous post" %}">
               <span class="glyphicon glyphicon-chevron-left"></span>{% trans "Previous" %}
             </a>
             <a href="{{ next_post.get_absolute_url }}" class="btn btn-sm btn-default prev_next" title="{% trans "View next post" %}">
                {% trans "Next" %}
               <span class="glyphicon glyphicon-chevron-right"></span>
             </a>
           </div>
           <div class="media-body fontBlobon">
             <h5 class="media-heading fontBlobon" style="margin-right: 10px;">{{ post.author.first_name }} {{ post.author.last_name }} <small>@{{ post.author.username }}</small>
             {% if post.author.userprofile.fan_page_access_token %}
               <div class="fb-like" data-href="{{ post.author.userprofile.facebook_link }}" data-width="120" data-layout="button_count" data-show-faces="false" data-send="false">
               </div>
             {% endif %}
             </h5>
             <p class="text-muted">{% trans "Published" %} {{ post.pub_date|naturaltime }}{% if post.source %} via <a href="{{ post.source }}" target="_blank">Source</a>{% endif %}</p>
           </div>
         </div>
         <div id="infos" class="panel">




         </div>

{% if comments %}
<div class="row comment">
  <div class="col-sm-12">
    <h3>{% trans "Comments:" %}</h3>
    <hr>
  </div>
</div>
  {% for comment in comments %}
  <div class="media">
    <a class="pull-left" href="#">
    {% if comment.author.userprofile.avatar %}
      {% thumbnail comment.author.userprofile.avatar "50x50" crop="center" as im %}
        <img class="media-object img-circle" src="{{ im.url }}" alt="{{ comment.author.first_name }} {{ comment.author.last_name }}" />
      {% endthumbnail %}
    {% else %}    
       <img class="media-object img-circle" style="max-height:64px;max-width:64px;" src="http://i.imgur.com/ZRQkOH5.jpg" alt="{{ comment.name }}">
    {% endif %}
    </a>
      {% if request.user.is_staff or request.user == comment.author %}
    <a href="#" id="deletecomment" title="{% trans "Delete this comment" %}" data-toggle="modal" data-target="#{{ comment.id }}"><button type="button" class="close">&times;</button>
    </a>
      {% endif %}




    <div class="media-body">
      <h4 class="media-heading">{{ comment.name }}</h4>
        {{ comment.comment }}
    </div>
  </div>
  <hr>

  <div class="modal fade" id="{{ comment.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Delete Comment" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you Sure You Want to Delete This Comment?" %}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <a href="{% url 'blogs.views.deletecomment_from_single' comment.id %}" class="btn btn-danger">{% trans "Yes, I Want to Delete it" %}</a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
{% endif %}



<div class="row comment_form">
  <div class="col-sm-12">
    <h3>{% trans "Leave a comment" %}</h3>
    <hr>
  </div>
  <div class="col-sm-12">
    <form class="form-horizontal" id="new_comment" enctype="multipart/form-data" role="form" method="post" action="{% url 'blogs.views.newcomment' post.id %}">{% csrf_token %}
      <div class="form-group">
          <div class="col-sm-12">
          {{ comment_form.name }}

          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-12">
          {{ comment_form.email }}
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-12">
          {{ comment_form.comment }}
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-12">
          {{ comment_form.website }}
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-12 subscription_form_input" style="margin-right:-20px;padding-top:10px;">
         <b>{% trans "Receive following comments" %}&nbsp</b>
            <input type="checkbox" name="subscription" id="subscription">
          </div>
      </div>
<div style="display:none;">
{{ comment_form.occupation.label_tag }}{{ comment_form.occupation }}
</div>
     <button type="submit" class="btn btn-sm btn-default">{% trans "Submit" %}</button>
    </form>
    <hr>
  </div>
</div>



<script>
$(document).ready(function () {

$('#new_comment').validate({
    rules: {
        name: {
            minlength: 2,
            required: true
        },
        email: {
            required: true,
            email: true
        },
        comment: {
            minlength: 5,
            required: true
        },
        website: {
            required: false,
            url: true
        }
    },
    highlight: function (element) {
        $(element).closest('.form-control').removeClass('has-success').addClass('has-error');
        $(element).closest('.glyphycon').removeClass('glyphycon glyphicon-ok').addClass('glyphycon glyphicon-remove');
    },
    success: function (element) {
        element.text('OK!').addClass('has-success').closest('.form-control').removeClass('has-error').addClass('has-success');
        $(element).closest('.glyphicon').removeClass('glyphycon glyphicon-remove').addClass('glyphycon glyphicon-ok');
    }
});
});
</script>


    <script type="text/javascript">
      $(function () {
        $(".prev_next").tooltip({container: 'body', placement: 'bottom'});
      });
    </script>



    <script type="text/javascript">
      $(function () {
        $('#delete_comment').tooltip({container: 'body', placement: 'top'});
      });
    </script>

       </div>
      {% endblock %}


      {% block top_image %}

      {% endblock %}
