{% extends "blogs/blobon.html" %}
{% load thumbnail i18n compress calculate_age %}
{% load url from future %}
  {% block nav %}
  {% endblock %}
  {% block leaderboard %}
  {% endblock %}
  {% block slogan %}
  <div class="contact_info" style="text-align:center;padding:15px;">
    <h3>{% trans "Sorry! This blog is now closed" %}</h3>
    <div class="btn-group" style="position: relative;"> 
      <button type="button" class="btn btn-link"><a href="http://blobon.com" class="nav"><h4>{% trans "Home" %}</h4></a></button>
      <button type="button" class="btn btn-link"><a href="{% url 'blogs.views.contact' %}" class="nav"><h4>{% trans "Contact Blobon.com" %}</h4></a></button>
    </div>
  </div>
  {% endblock %}
  {% block footer-css %}
  {% endblock %}
  {% block login_link %}
  {% endblock %}
  {% block form %}
  {% endblock %}
