{% extends "blogs/administratepages.html" %}
{% load i18n %}
{% load url from future %}

  {% block dashboard-active %}{% endblock %}
  {% block pages-active %}class="active"{% endblock %}

  {% block content %}

            <div class="col-md-12"> 
              <form enctype="multipart/form-data" id="newblog_page" role="form" method="post" action="{% url 'blogs.views.createpage' blog.slug %}">{% csrf_token %}
                <div class="panel panel-primary" id="setting_form">
                  <div class="panel-heading">{% trans "Create a new page :" %}<a href="{% url 'blogs.views.administratepages' blog.slug %}" class="btn btn-xs btn-danger pull-right" id="cancelpage"><span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}</a></div>
                    <div class="panel-body">         
                        <div class="title" id="blog_page_title">
                          {{ form.title.label_tag }}
                          {{ form.title }}
                        </div>
                        <div class="form-group" style="padding-top:10px;">
                        {{ form.content }}
                        </div>
                        <div class="row" style="display: none">{{ form.status }} </div>


                       <div class="btn-group pull-right">
                         <button type="button" class="btn btn-xs btn-primary submitblog_page" disabled="disabled">{% trans "Submit page" %}</button>
                         <button id="save_draft_blog_page" title="{% trans "More options" %}" type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" disabled="disabled">
                         <span class="caret"></span>
                         <span class="sr-only">Toggle Dropdown</span>
                         </button>
                         <ul class="dropdown-menu" role="menu">
                           <li><a class="submitblog_page" href="#">{% trans "Publish now" %}</a></li>
                           <li class="divider"></li>
                           <li><a id="add_queue_page" href="#">{% trans "Add to the queue" %}</a></li>
                         </ul>
                       </div>
                   </div>
                 </div>
               </form>
             </div>

    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

    <script>
      $(document).ready(function() {
        tinyMCE.init({setup : function(ed) {
                             ed.on("keyup", function(ed, l) {
 if($(l) != '') {
          $(".submitblog_page").prop("disabled", false);
          $('#save_draft_blog_page').prop("disabled", false);
          }
        else {
          $(".submitblog_page").prop("disabled", true);
          $('#save_draft_blog_page').prop("disabled", true);
        }
                             });
                      },
                      skin:'light', 
                      selector:"textarea.mceEditor", 
                      language : 'en',
                      menubar : false,
                      toolbar: "undo redo | bold italic underline | fontselect fontsizeselect | alignleft aligncenter alignright alignjustify | link unlink media image | code | blockquote",
                      plugins: "code link media image paste",
                      paste_text_sticky: true,
                      paste_text_sticky_default: true,
                      resize: true,
                      height: 250,
                      elements : "txtName",
                     });
        setTimeout(function() { 
         $(".mceNoEditor").removeAttr("style");
        },15);
                   });
         
    </script>

    <script>
      $(".submitblog_page").click(function() {
        $('#newblog_page select[name=status]').val('P');
        tinymce.get('id_content').save();
        $('#newblog_page').submit();
      });
    </script>

    <script>
      $('#add_queue_page').click(function() {
        $('#newblog_page select[name=status]').val('D');
        tinymce.get('id_content').save();
        $('#newblog_page').submit();
      });
    </script>


  {% endblock %}
