{% extends "administratepages.html" %}
{% load i18n %}
{% load url from future %}

  {% block dashboard-active %}{% endblock %}
  {% block pages-active %}class="active"{% endblock %}

  {% block content %}

            <div class="col-md-12"> 
              <form enctype="multipart/form-data" id="savedpage" role="form" method="post" action="{% url 'blogs.views.editpage' page.id %}">{% csrf_token %}
                <div class="panel panel-primary" id="setting_form">
                  <div class="panel-heading">{% trans "Edit your page :" %}<a href="{% url 'blogs.views.administratepages' blog.slug %}" class="btn btn-xs btn-danger pull-right" id="cancelpage"><span class="glyphicon glyphicon-remove"></span> {% trans "Cancel" %}</a></div>
                    <div class="panel-body">         
                        <div class="title" id="blog_page_title">
                          {{ form.title.label_tag }}
                          {{ form.title }}
                        </div>
                        <div class="form-group" style="padding-top:10px;">
                        {{ form.content }}
                        </div>
                        <div class="form-group" style="padding-top:10px;display:none;">                      
                        {{ form.status }}
                        </div>

                       <div class="btn-group pull-right">
                         <button id="savequit" class="btn btn-xs btn-primary" value="save_quit" name="save_quit">{% trans "Save" %}</button>
                         <button id="save_continue" class="btn btn-xs btn-info" value="save_continue" name="save_continue">{% trans "Save and continue editing" %}</button>
                       </div>
                   </div>
                 </div>
               </form>
             </div>

    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

    <script>
      $(document).ready(function() {
        tinyMCE.init({setup : function(ed) {
                             ed.on("keyup", function(ed, l) {
 if($(l) != '') {
          $(".submitblog_page").prop("disabled", false);
          $('#save_draft_blog_page').prop("disabled", false);
          }
        else {
          $(".submitblog_page").prop("disabled", true);
          $('#save_draft_blog_page').prop("disabled", true);
        }
                             });
                      },
                      skin:'light', 
                      selector:"textarea.mceEditor", 
                      language : 'en',
                      menubar : false,
                      toolbar: "undo redo | bold italic underline | fontselect fontsizeselect | alignleft aligncenter alignright alignjustify | link unlink media image | code | blockquote",
                      plugins: "code link media image paste",
                      paste_text_sticky: true,
                      paste_text_sticky_default: true,
                      resize: true,
                      height: 250,
                      elements : "txtName",
                     });
        setTimeout(function() { 
         $(".mceNoEditor").removeAttr("style");
        },15);
                   });
         
    </script>

    <script>
      $('#save_continue').click(function() {
        tinymce.get('id_content').save();
        $('#savedpage').submit();
      });
    </script>

    <script>
      $('#savequit').click(function() {
        tinymce.get('id_content').save();
        $('#savedpage').submit();
      });
    </script>

  {% endblock %}
