{% extends "blogs/blobon.html" %}
{% load thumbnail i18n compress calculate_age %}
{% load url from future %}
  {% block nav %}
  {% endblock %}
  {% block leaderboard %}
  {% endblock %}
  {% block login_link %}
  {% endblock %}
  {% block slogan %}
  {% endblock %}
  {% block form %}

    {% if form.errors %}
      {% trans "The password didn't match. Please try again." %}
    {% endif %}
      <div class="row">
      <h3>{% trans "This blog require a password" %}</h3>
      </div>
      <form method="post" id="pass_form" role="form" style="min-width:250px;display: inline-block;text-align: center;" action="{% url 'blogs.views.password' blog.slug %}">
        {% csrf_token %}
        <div class="form-group" style="padding:10px;">
          {{ form.password }}
        </div>

        <button id="login_submit"type="submit" class="btn btn-primary btn-sm">{% trans "Submit" %}</button>
     </form>

  {% endblock %}


