<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://asseenontheinter.net/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet/less" href="http://punn.it/less.js">
    <script src="http://punn.it/less.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <title>{% block title %}Punn.it{% endblock %}</title>


    <style type="text/css">
      body {
        padding-top: 80px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
 
      .caption{
        font-weight:normal;
        font-family: 'Cabin Condensed', sans-serif;
      }

      {% block additional_style %}{% endblock %}

    </style>


  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <img style="padding-top:5px;" src="http://asseenontheinter.net/punn_it.png" alt="logo punn.it" />
            <ul class="nav pull-right">
              <li id="fat-menu" class="dropdown">

{% if is_logged_in %}Thanks for logging in!{% else %}Please log in.{% endif %}

{{ user.username }}

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown 3 <b class="caret"></b></a>
               <ul class="dropdown-menu">
                <li><a href="#">View my profile</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Sign out</a></li>
               </ul>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span8">

{% block content %}Defaut{% endblock %}

        </div><!--/span-->
        <div class="span4">

{% block sidebar %}Defautside{% endblock %}

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>Powered by <a href="https://punn.it">Punn.it</a> &copy; 2012</p>
      </footer>
    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
  </body>
</html>
