{% extends "base.html" %}

{% block title %}Punn.it / Home{% endblock %}

{% block content %}

          <div class="well">

{% include "thumbnails.html" %}

          </div><!--/well-->
          <div class="well">

{% include "leaderboard.html" %}

          </div><!--/well-->


{% endblock %}
{% block sidebar %}

          <div class="well">
            <p>Trending tags</p>
          </div><!--/.well -->
          <div class="well">

{% include "bigbox.html" %}

          </div><!--/.well -->
          <div class="well">
            <p>Plus populaires</p> 
          </div><!--/.well -->
          <div class="well">

{% include "skyscrapper.html" %}

          </div><!--/.well -->

{% endblock %}
