{% extends "base.html" %}

{% block title %}{{ user.first_name }} {{ user.last_name  }} ({{ user.username }}) on {{ site.name }}{% endblock %}

{% block additional_style %}

      body {
        background-color: #{{ user.userprofile.background_color }};
        color: #{{ user.userprofile.font_color }};
      }

      .well{
        background-color:#{{ user.userprofile.well_color }};
      }

{% endblock %}

{% block content %}

          <div class="well">

{% include "thumbnails.html" %}

          </div><!--/well-->
          <div class="well">

{% include "leaderboard.html" %}

          </div><!--/well-->


{% endblock %}
{% block sidebar %}

          <div class="well">
          {% if user.userprofile.avatar %}
            <p><a href="#"><img  width="80" src="{{ user.userprofile.avatar }}" /></a></p>
          {% endif %}
            <p>{{ user.first_name }} {{ user.last_name  }} <small>@{{ user.username }}</small></p>
            <p>{{ user.userprofile.description }}<p>
            <p>{{ user.userprofile.location }}<p>
            <p>{{ user.userprofile.domain }}<p>
          </div><!--/.well -->
          <div class="well">

{% include "bigbox.html" %}

          </div><!--/.well -->
          <div class="well">
            <p>Most popular for @user</p>
          </div><!--/.well -->
          <div class="well">

{% include "skyscrapper.html" %}

          </div><!--/.well -->

{% endblock %}

