            {% if not request.user.is_authenticated %}
            <li class="dropdown" id="menu1">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                <img width="140px;" src="http://i.imgur.com/gyxaq.png" alt="join punn.it" />
              </a>
              <p class="dropdown-menu">

TODO
Join the community text

              </p>
            </li>
            {% endif %}
          </ul>
          <ul class="nav pull-right">
            <li>
              <img src="http://i.imgur.com/p9Gny.png" alt="" />
            </li>
            <li class="divider-vertical"></li>
            <li>
              <form class="navbar-search">
                <input type="text" class="search-query span2" placeholder="Search...">
                <div class="icon-search"></div>
              </form>
            </li>
            <li class="divider-vertical"></li>
