{% extends "base.html" %}

{% block title %}Punn.it / Home{% endblock %}

{% block content %}

          <div class="well">

      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      <form class="form-horizontal" action="." method="post">
        <fieldset>
          <legend>Join Punn.it</legend>
          <div class="control-group">
            <label class="control-label" id="focusedInput">Username</label>
            <div class="controls">
              <div class="input-append">
                <input class="span2" id="appendedInput" size="16" type="text">
              </div>
              <span class="help-inline">Don't worry, you can change it later.</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" id="focusedInput">Password</label>
            <div class="controls">
              <div class="input-append">
                <input class="span2" id="appendedInput" size="16" type="password">
              </div>
              <span class="help-inline">6 characters or more! Be tricky.</span>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn-large btn-primary">Create an account</button>
          </div>
        </fieldset>
      </form>

<form class="form-horizontal" action="." method="post">{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn-large btn-primary">Create an account</button>
</form>



          </div><!--/well-->


{% endblock %}
{% block sidebar %}

          <div class="well">

{% include "bigbox.html" %}

          </div><!--/.well -->
{% endblock %}

